{% extends "personal/header.html" %}


{% block content %}

<div class="container-fluid">
<div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-6" style="background-color: white;">
        
        <h2 style="margin-top: -15px;" class="text-center">Who am I?</h2>
        <p>Ian Terry. Chicago, IL.</p>
        <p>Design engineer by day; Software developer by night. Most of my free time is spent programming - whether that be developing a new game or app,
         learning a new technology by creating something, or just sharpening up on the fundamentals. I also spend a decent amount of time lifting weights, riding my
         bike, and running. Be sure to check out my blog to see what I've been working on lately.</p>

        <h2 class="text-center">What is this site about?</h2>
        <p>This site is my personal portfolio and blog. I created the site from scratch using html, CSS, and Javascript with C# and the ASP.net MVC framework.</p>

        <h2 class="text-center">My Mission</h2>
        <p>My mission is to increase the quality of life for myself, my family, my friends, my community, and my country. I work toward this goal
        consistently by following my own carefully planned routine while striving to always adhere to a core set of values. It is my belief that with
        proper planning and a solid set of values, that I can make a positive impact on the people and environment surrounding me.</p>

        <h2 class="text-center">My Values</h2>
        <p>These are the core values which inform my day-to-day actions and decision making.</p>
        <ul>
            <li>Loyalty</li>
            <li>Dilligence</li>
            <li>Respect</li>
            <li>Optimism</li>
            <li>Humility</li>
        </ul>

        <h2 class="text-center">My System</h2>
        <p>This is a rough set of actionable items I strive to incorporate into my daily life.</p>
        <ul> 
            <li>Eat right</li>
            <li>Exercise every day</li>
            <li>Work on a project everyday</li>
            <li>Seek knowledge</li>
            <li>Share knowledge</li>
            <li>Plan and follow a routine based on the system</li>
            <li>Tweak the routine as needed</li>
        </ul>
       
    </div>


    <div class="col-md-3"></div>

</div>
</div>

{% endblock %}