{% extends "personal/header.html" %}


{% block content %}

<div class="container-fluid" >

    <div class="row" >

        <div class="col-md-3"></div>
        <div class="col-md-6"  style="background-color: white;">
            <h1 class="text-center" style="margin-top: -15px;">Blog Posts</h1>

			{% load static %}
			<a href="{% url 'posts' 'SixMonthReport2' %}"><img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/Banner.png' %}" alt="Six Month Productivity Report #2" /></a>
			<a href="{% url 'posts' 'August2017' %}"><img class="img-responsive banner-img" src="{% static '/Aug2017.png' %}" alt="August 2017 Productivity Report" /></a>
			<a href="{% url 'posts' 'July2017' %}"><img class="img-responsive banner-img" src="{% static '/July2017.png' %}" alt="July 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'MayJune2017' %}"><img class="img-responsive banner-img" src="{% static '/MayJune2017.png' %}" alt="May/June 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'April2017' %}"><img class="img-responsive banner-img" src="{% static '/April2017.png' %}" alt="April 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'March2017' %}"><img class="img-responsive banner-img" src="{% static '/March2017.png' %}" alt="March 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'SixMonthReport' %}"><img class="img-responsive banner-img" src="{% static '/6Month_sept17_feb17/banner.png' %}" alt="Six Month Productivity Report" /></a>
            <a href="{% url 'posts' 'February2017' %}"><img class="img-responsive banner-img" src="{% static '/Feb2017.png' %}" alt="February 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'January2017' %}"><img class="img-responsive banner-img" src="{% static '/Jan2017.png' %}" alt="January 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'December2016' %}"><img class="img-responsive banner-img" src="{% static '/Dec2016.png' %}" alt="December 2016 Productivity Report" /></a>
            <a href="{% url 'posts' 'November2016' %}"><img class="img-responsive banner-img" src="{% static '/Nov2016.png' %}" alt="November 2016 Productivity Report" /></a>
            <a href="{% url 'posts' 'October2016' %}"><img class="img-responsive banner-img" src="{% static '/Oct2016.png' %}" alt="October 2016 Productivity Report" /></a>
            <a href="{% url 'posts' 'September2016' %}"><img class="img-responsive banner-img" src="{% static '/Sept2016.png' %}" alt="September 2016 Productivity Report" /></a>

        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endblock %}