{% extends "personal/header.html" %}


{% block content %}

<div class="container-fluid" >

    <div class="row" >

        <div class="col-md-3"></div>
        <div class="col-md-6"  style="background-color: white;">
            <h1 class="text-center" style="margin-top: -15px;">Blog Posts</h1>

			{% load static %}
            <a href="{% url 'posts' 'July2020' %}"><img class="img-responsive banner-img" src="{% static '/July2020.png' %}" alt="July Productivity Report" /></a>
			<a href="{% url 'posts' 'June2020' %}"><img class="img-responsive banner-img" src="{% static '/June2020.png' %}" alt="June Productivity Report" /></a>
            <a href="{% url 'posts' 'janfeb2020' %}"><img class="img-responsive banner-img" src="{% static '/JanFeb2020.png' %}" alt="January/February Productivity Report" /></a>
            <a href="{% url 'posts' 'December2019' %}"><img class="img-responsive banner-img" src="{% static '/December2019.png' %}" alt="December 2019 Productivity Report" /></a>
            <a href="{% url 'posts' 'November2019' %}"><img class="img-responsive banner-img" src="{% static '/November2019.png' %}" alt="November 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'October2019' %}"><img class="img-responsive banner-img" src="{% static '/October2019.png' %}" alt="October 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'September2019' %}"><img class="img-responsive banner-img" src="{% static '/September2019.png' %}" alt="September 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'August2019' %}"><img class="img-responsive banner-img" src="{% static '/August2019.png' %}" alt="August 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'July2019' %}"><img class="img-responsive banner-img" src="{% static '/July2019.png' %}" alt="July 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'June2019' %}"><img class="img-responsive banner-img" src="{% static '/June2019.png' %}" alt="June 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'May2019' %}"><img class="img-responsive banner-img" src="{% static '/May2019.png' %}" alt="May 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'April2019' %}"><img class="img-responsive banner-img" src="{% static '/April2019.png' %}" alt="April 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'March2019' %}"><img class="img-responsive banner-img" src="{% static '/March2019.png' %}" alt="March 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'February2019' %}"><img class="img-responsive banner-img" src="{% static '/Feb2019.png' %}" alt="February 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'January2019' %}"><img class="img-responsive banner-img" src="{% static '/January2019.png' %}" alt="January 2019 Productivity Report" /></a>
			<a href="{% url 'posts' 'December2018' %}"><img class="img-responsive banner-img" src="{% static '/December2018.png' %}" alt="December 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'November2018' %}"><img class="img-responsive banner-img" src="{% static '/November2018.png' %}" alt="November 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'October2018' %}"><img class="img-responsive banner-img" src="{% static '/October2018.png' %}" alt="October 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'September2018' %}"><img class="img-responsive banner-img" src="{% static '/September2018.png' %}" alt="September 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'August2018' %}"><img class="img-responsive banner-img" src="{% static '/August2018.png' %}" alt="August 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'July2018' %}"><img class="img-responsive banner-img" src="{% static '/July2018.png' %}" alt="July 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'June2018' %}"><img class="img-responsive banner-img" src="{% static '/June2018.png' %}" alt="June 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'May2018' %}"><img class="img-responsive banner-img" src="{% static '/May2018.png' %}" alt="May 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'April2018' %}"><img class="img-responsive banner-img" src="{% static '/April2018.png' %}" alt="April 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'March2018' %}"><img class="img-responsive banner-img" src="{% static '/March2018.png' %}" alt="March 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'February2018' %}"><img class="img-responsive banner-img" src="{% static '/Feb2018.png' %}" alt="February 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'January2018' %}"><img class="img-responsive banner-img" src="{% static '/Jan2018.png' %}" alt="January 2018 Productivity Report" /></a>
			<a href="{% url 'posts' 'December2017' %}"><img class="img-responsive banner-img" src="{% static '/Dec2017.png' %}" alt="December 2017 Productivity Report" /></a>
			<a href="{% url 'posts' 'November2017' %}"><img class="img-responsive banner-img" src="{% static '/Nov2017.png' %}" alt="November 2017 Productivity Report" /></a>
			<a href="{% url 'posts' 'October2017' %}"><img class="img-responsive banner-img" src="{% static '/Oct2017.png' %}" alt="October 2017 Productivity Report" /></a>
			<a href="{% url 'posts' 'September2017' %}"><img class="img-responsive banner-img" src="{% static '/Sept2017.png' %}" alt="September 2017 Productivity Report" /></a>
			<a href="{% url 'posts' 'SixMonthReport2' %}"><img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/Banner.png' %}" alt="Six Month Productivity Report #2" /></a>
			<a href="{% url 'posts' 'August2017' %}"><img class="img-responsive banner-img" src="{% static '/Aug2017.png' %}" alt="August 2017 Productivity Report" /></a>
			<a href="{% url 'posts' 'July2017' %}"><img class="img-responsive banner-img" src="{% static '/July2017.png' %}" alt="July 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'MayJune2017' %}"><img class="img-responsive banner-img" src="{% static '/MayJune2017.png' %}" alt="May/June 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'April2017' %}"><img class="img-responsive banner-img" src="{% static '/April2017.png' %}" alt="April 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'March2017' %}"><img class="img-responsive banner-img" src="{% static '/March2017.png' %}" alt="March 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'SixMonthReport' %}"><img class="img-responsive banner-img" src="{% static '/6Month_sept17_feb17/banner.png' %}" alt="Six Month Productivity Report" /></a>
            <a href="{% url 'posts' 'February2017' %}"><img class="img-responsive banner-img" src="{% static '/Feb2017.png' %}" alt="February 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'January2017' %}"><img class="img-responsive banner-img" src="{% static '/Jan2017.png' %}" alt="January 2017 Productivity Report" /></a>
            <a href="{% url 'posts' 'December2016' %}"><img class="img-responsive banner-img" src="{% static '/Dec2016.png' %}" alt="December 2016 Productivity Report" /></a>
            <a href="{% url 'posts' 'November2016' %}"><img class="img-responsive banner-img" src="{% static '/Nov2016.png' %}" alt="November 2016 Productivity Report" /></a>
            <a href="{% url 'posts' 'October2016' %}"><img class="img-responsive banner-img" src="{% static '/Oct2016.png' %}" alt="October 2016 Productivity Report" /></a>
            <a href="{% url 'posts' 'September2016' %}"><img class="img-responsive banner-img" src="{% static '/Sept2016.png' %}" alt="September 2016 Productivity Report" /></a>

        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endblock %}