{% extends "personal/header.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 text-center " style=" padding-bottom: 8px; background-color: white;">
            <h2 style="margin-top: -15px;">Projects</h2>
        </div>

        <div class="col-md-3"></div>
    </div>

    <!--PROJECTS BEGIN-->
    <div>
	<!--Headshot Hoard-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div1" style="margin-top: -15px;">
                <h3><u>Headshot Hoard</u></h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            Headshot Hoard is a fps hoard survival game that I created for the GDN Big Festive Jam. The theme of the jam was "random." This game is actually fun to play. HEADSHOT!
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/headshot-hoard"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="https://i4n-t.itch.io/headshot-hoard"><h1>Download to try it out for yourself!</h1></a>
                    </div>
                    <div class="col-md-6"><iframe width="350" height="350" src="https://www.youtube.com/embed/3ZXcAAwbGsQ" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
	<!--Gluttony Simulator-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div0" style="margin-top: -15px;">
                <h3 class="text-right" style="margin-right: 35px;"><u>Gluttony Simulator</u></h3>
                <div class="row">
                    <div class="col-md-6"><iframe width="350" height="350" style="float: right;" src="https://www.youtube.com/embed/0DNusu2jJl4" frameborder="0" allowfullscreen></iframe></div>
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            Gluttony Simulator is a game that I created for Ludum Dare 40, a popular weekend long game jam. The theme of LD40 was
                            "The more you have, the worse it is." 
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/Gluttony-Simulator"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="https://i4n-t.itch.io/gluttony-simulator"><h1>Try it out in your browser! (or download)</h1></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------->
	<!--Balls and Halls-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div1" style="margin-top: -15px;">
                <h3><u>Balls and Halls</u></h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            Balls and Halls is a game that I created for the Github Gameoff 2017. The theme of the jam was "Throwback".  The game begins with a dodgeball match, followed by an							
							action-packed Doom-style fps sequence. This was my first 3D game. 
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/Balls-And-Halls"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="https://i4n-t.itch.io/balls-and-halls"><h1>Try it out in your browser! (or download)</h1></a>
                    </div>
                    <div class="col-md-6"><iframe width="350" height="350" src="https://www.youtube.com/embed/Srpa7EQiieM" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
	<!--Widget CEO-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div0" style="margin-top: -15px;">
                <h3 class="text-right" style="margin-right: 35px;"><u>Widget CEO</u></h3>
                <div class="row">
                    <div class="col-md-6"><iframe width="350" height="350" style="float: right;" src="https://www.youtube.com/embed/uLtvaaTpq3" frameborder="0" allowfullscreen></iframe></div>
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            Widget CEO is a base-building, office management sim game inspired by Dwarf Fortress, Rim World, and The Sims. Unfortunately, the game was never completed and is
							not available to play. With that said, I learned a lot through the development of Widget CEO. I especially am proud of the A* pathfinding algorithm I was able to 
							implement.
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/office-sim"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------->
	 <!--Flashlight-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div1" style="margin-top: -15px;">
                <h3><u>Flashlight</u></h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            Flashlight is a game that I created for Ludum Dare 39, a popular weekend long game jam. The theme of LD39 was
                            "Running out of power." 
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/LD39"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="https://i4n-t.itch.io/flashlight"><h1>Try it out in your browser!</h1></a>
                    </div>
                    <div class="col-md-6"><iframe width="350" height="350" src="https://www.youtube.com/embed/q3AKv4uazvY" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!--MAP GENERATOR-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div0" style="margin-top: -15px;">
                <h3 class="text-right" style="margin-right: 35px;"><u>2D Map and Dungeon Generator</u></h3>
                <div class="row">
                    <div class="col-md-6"><iframe width="350" height="350" style="float: right;" src="https://www.youtube.com/embed/PHkOGrTtexk" frameborder="0" allowfullscreen></iframe></div>
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            The 2D Map and Dungeon Generator procedurally generates 2D tile world maps and dungeons based on user inputs.
                            The program will generate a map based on the user's choice of any one of four unique algorithms. Each generated map will have a dungeon
                            placed in a random location, which the user can then click on to procedurally generate a dungeon layout.
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/Procedural-Map-and-Dungeon-Generator"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="http://belowparallelstudios.com/MapGenerator/"><h1>Try it out in your browser!</h1></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------->
        <!--WORLD UNDER SIEGE-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div1" style="margin-top: -15px;">
                <h3><u>World Under Siege</u></h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            World Under Siege is a game that I created for Ludum Dare 38, a popular weekend long game jam. The theme of LD38 was
                            "A small world." All in all, I spent about 9 hours creating the game.
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/LD38_WorldUnderSiege"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="http://belowparallelstudios.com/WorldUnderSiegeGame/"><h1>Try it out in your browser!</h1></a>
                    </div>
                    <div class="col-md-6"><iframe width="350" height="350" src="https://www.youtube.com/embed/Wet2WUjBwi4" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!--STRANDED ON AN ISLAND SIMULATOR-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div0" style="margin-top: -15px;">
                <h3 class="text-right" style="margin-right: 35px;"><u>Stranded on an Island Simulator</u></h3>
                <div class="row">
                    <div class="col-md-6"><iframe width="350" height="350" style="float: right;" src="https://www.youtube.com/embed/B-FAsvvArzA" frameborder="0" allowfullscreen></iframe></div>
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            The Stranded on an Island Simulator is a fun project I created because I wanted to learn how to program desktop applications. The program
                            allows the user to create several survivors by inputting certain information/stats before proceeding to simulate the actions of each of the
                            survivors as they are stranded on an island. This was one of my earliest projects, and it was the first program I created without using Unity.
                        </p>
                        <h4>Tech: C#, Windows Forms</h4>
                        <a href="https://github.com/I4N-T/Stranded-on-an-Island"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <h1>Download on Github to try it out for yourself!</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------->
        <!--MINE HACKER-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div1" style="margin-top: -15px;">
                <h3><u>Mine Hacker</u></h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            Mine Hacker is a game that was created for the Github Gameoff 2016. At the end of the month-long event, Mine Hacker was featured
                            on the Github Blog, and I was awarded a gift card to the Github store. I produced the theme song as well.
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/Mine-Hacker"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="http://belowparallelstudios.com/MineHackerGame/"><h1>Try it out in your browser!</h1></a>
                    </div>
                    <div class="col-md-6"><iframe width="350" height="350" src="https://www.youtube.com/embed/EPro6hNN0Fo" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</div>

{% endblock %}