{% extends "personal/header.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 text-center " style=" padding-bottom: 8px; background-color: white;">
            <h2 style="margin-top: -15px;">Projects</h2>
        </div>

        <div class="col-md-3"></div>
    </div>

    <!--PROJECTS BEGIN-->
    <div>
        <!--MAP GENERATOR-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div0" style="margin-top: -15px;">
                <h3 class="text-right" style="margin-right: 35px;"><u>2D Map and Dungeon Generator</u></h3>
                <div class="row">
                    <div class="col-md-6"><iframe width="350" height="350" style="float: right;" src="https://www.youtube.com/embed/PHkOGrTtexk" frameborder="0" allowfullscreen></iframe></div>
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            The 2D Map and Dungeon Generator procedurally generates 2D tile world maps and dungeons based on user inputs.
                            The program will generate a map based on the user's choice of any one of four unique algorithms. Each gnerated map will have a dungeon
                            placed in a random location, which the user can then click on to procedurally generate a dungeon layout.
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/Procedural-Map-and-Dungeon-Generator"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="http://belowparallelstudios.com/MapGenerator/"><h1>Try it out in your browser!</h1></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------->
        <!--WORLD UNDER SIEGE-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div1" style="margin-top: -15px;">
                <h3><u>World Under Siege</u></h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            World Under Siege is a game that I created for Ludum Dare 38, a popular weekend long game jam. The theme of LD38 was
                            "A small world." All in all, I spent about 9 hours creating the game.
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/LD38_WorldUnderSiege"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="http://belowparallelstudios.com/WorldUnderSiegeGame/"><h1>Try it out in your browser!</h1></a>
                    </div>
                    <div class="col-md-6"><iframe width="350" height="350" src="https://www.youtube.com/embed/Wet2WUjBwi4" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!--STRANDED ON AN ISLAND SIMULATOR-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div0" style="margin-top: -15px;">
                <h3 class="text-right" style="margin-right: 35px;"><u>Stranded on an Island Simulator</u></h3>
                <div class="row">
                    <div class="col-md-6"><iframe width="350" height="350" style="float: right;" src="https://www.youtube.com/embed/B-FAsvvArzA" frameborder="0" allowfullscreen></iframe></div>
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            The Stranded on an Island Simulator is a fun project I created because I wanted to learn how to program desktop applications. The program
                            allows the user to create several survivors by inputting certain information/stats before proceeding to simulate the actions of each of the
                            survivors as they are stranded on an island. This was one of my earliest projects, and it was the first program I created without using Unity.
                        </p>
                        <h4>Tech: C#, Windows Forms</h4>
                        <a href="https://github.com/I4N-T/Stranded-on-an-Island"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <h1>Download on Github to try it out for yourself!</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------->
        <!--MINE HACKER-->
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 project-div1" style="margin-top: -15px;">
                <h3><u>Mine Hacker</u></h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description:</h4> <p>
                            Mine Hacker is a game that was created for the Github Gameoff 2016. At the end of the month-long event, Mine Hacker was featured
                            on the Github Blog, and I was awarded a gift card to the Github store. I produced the theme song as well.
                        </p>
                        <h4>Tech: C#, Unity</h4>
                        <a href="https://github.com/I4N-T/Mine-Hacker"><h4><i class="fa fa-github"></i> Source Code</h4></a>
                        <a href="http://belowparallelstudios.com/MineHackerGame/"><h1>Try it out in your browser!</h1></a>
                    </div>
                    <div class="col-md-6"><iframe width="350" height="350" src="https://www.youtube.com/embed/EPro6hNN0Fo" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</div>

{% endblock %}