{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - April 2019</h1>
            <img class="img-responsive banner-img" src="{% static '/April2019.png' %}" alt="April 2019 banner" />

            <p>This month's banner features the tri-monitor configuration of my personal computing station.</p>
            <h2>Broad Overview</h2>
            <p>April 2019 is the 32nd month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>26.00</strong> hours</li> 
                <li>Software Development: <strong>29.75</strong> hours</li>
				<li>Music/Art: <strong>0</strong> hours</li>
                <li>Other: <strong>10.5</strong> hours</li>
                <li>Total productive hours: <strong>66.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.21</strong> hours.</p>

			
            <h2>Software Development</h2>
            <p>My software development goal for the month of April 2019 was:</p>
            <ul>
				<li>Work hard in Programming Languages and Operating Systems classes.</li>
			</ul>
				
			<p>Mission accomplished. I have successfully completed the final exam for both courses. I know that I've earned an A in Programming Languages, and I am also sure that I've earned an A in Operating Systems
			(although the final exam grade has not been posted yet). Overall I enjoyed both courses. I do wish that I had been given more actual coding assignments to work on, but what few coding assignments I did have 
			proved to be fairly challenging and rewarding. Of the two courses, I found Operating Systems to be the more interesting, and I look forward to potentially exploring parallel programming and distributed systems 
			in future courses.</p>
			
			<p>As of the time of writing this I have fully submitted my application to <a href="http://www.omscs.gatech.edu/">Georgia Tech's OMSCS program</a>, and it looks like all of my letters of recommendation have come in. 
			Asking for letters of recommendation was the most stressful part of the application process for me, as I felt like I was asking a huge favor. Fortunately, all of my former professors that I asked for recommendations 
			were more than happy to help - something for which I am tremedously grateful. I feel pretty good about my chances of acceptance at this point. If I do get rejected, then I will continue on with my classes at UIS and 
			reapply for Fall 2020.</p>
			
			<p>The next course I will be taking (for the Summer 2019 term) is Introduction to Database Systems. Class starts on June 3, so I have a few weeks to work on non-school related projects. For now, I'm not sure what kind 
			of software project I will work on in this time, if anything. I have some other important things to take care of in May (namely, I need to buy a car), so I may not have much time for programming.</p>
									       			
            <h2>Fitness</h2>
            <p>In April 2019, my overall fitness hours totalled to <strong>26.00</strong> hours. I spent <strong>14.75</strong> hours lifting weights, and I spent <strong>11.25</strong> hours on cardio. 
			 My average lifting hours per week was <strong>3.44</strong> hours, and my average cardio hours per week was <strong>2.65</strong> hours.</p>
			
			<p>Throughout April 2019, I have continued intermittent fasting and supplementing with creatine. I now consider creatine to be essential. The results I've had since I've started taking it have been phenomenal. 
			I've seen some great results in the past month, both in strength and musculature. I attribute my recent gains primarily to the creatine. I will continue with intermittent fasting as well, mainly because I enjoy 
			having the extra non-eating free time during my lunch break at work. I can't say that I've noticed any health effects, but I do not find that I get hungry throughout the day so I might as well continue.<p>
			
			<p>Now that we've finally got some decent weekend weather here in Chicago, I've managed to get my bike out a few times. Expect to see my cardio hours shoot way up in the coming months.</p>

			<h2>Music/Art</h2>
			<p>I did not do anything creative this month (again). Eventually I will get around to recording vocals and mixing my latest and greatest musical creation, but I am in no rush. I've got a lot of things to do, so 
			this will have to wait for now.</p>
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>10.5</strong> hour doing other productive stuff. The majority of that time was spent working on my statement of purpose and background essay for my application to the OMSCS program.</p>
				
            <h2>Goals for next month (May 2019):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>null</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
				<li>null</li>
            </ul>
			<h3>Other Goals:</h3>
            <ul>
				<li>buy a car</li>
            </ul>
			
			
			<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_URL; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ianterry.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}