{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - August 2017</h1>
            <img class="img-responsive banner-img" src="{% static '/July2017.png' %}" alt="July 2017 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. This month's banner image features my new midi controller as well as my new monitor.</p>
            <h2>Broad Overview</h2>
            <p>August 2017 is the twelfth month in which I have tracked my productivity. After a fairly lazy output in July, I am very proud of the work I put in throughout August. As seen in the banner image, I now
			 have a dual-monitor set-up, which has been great for productivity. I also got a midi controller (the keyboard thing in the banner image), and I am learning to compose music. My main focus for the month has been 
			 continuing work on my office management game, tentatively titled Widget CEO.</p>
            <ul>
                <li>Fitness: <strong>37.5</strong> hours</li> UPDATE THESE!!!!!!!!!!!!!!!!!!
                <li>Software Development: <strong>57.75</strong> hours</li>
				<li>Music: <strong>27.25</strong> hours</li>
                <li>Other: <strong>4.75</strong> hours</li>
                <li>Total productive hours: <strong>127.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>4.10</strong> hours.</p>

            <p>After a relatively unproductive July, I came back strong in August with over double the total productive hours for the month.</p>
            <h2>Software Development</h2>
            <p>I am proud of myself for the amount of work I put in this August.</p>

            <p>My software development goals for the month of July were to:</p>
            <ul>
                <li>Continue to develop Widget CEO.</li>
				<li>Look into enrolling in school for a CS degree.</li>
            </ul>
            <p>I can safely say that I succeeded in both of my goals for the month. Let's start with that first one.</p>
			
			<p>This month, I managed to put <strong>57.75</strong> hours into the development of Widget CEO. Unfortunately, there still is not much to the game. On the bright side, I am learning a lot and getting some great experience. It
			 is a sort of complicated type of game, programming wise, so I wouldn't have expected to be further along than I am. So what is this game exactly?</p>
			 
			 <p>The best way to describe Widget CEO is to say that it's sort of like Rim World, but in a manufacturing company that engineers and produces widgets. Some of the major mechanics of the game that I have implemented
			  are sort of broken right now (since I'm in the middle of some changes to the code); otherwise, I would make a gameplay reveal video to post with this blog. Hopefully with next month's blog I will be able to show off
			  some sort of demo.</p>
			  
			 <p>My other goal for August 2017 was to look into enrolling in school for a computer science degree. Well, I've looked into it, and I decided to apply to the University of Illinois at Springfield's online computer
			   science program. I should find out in a month or two if I've been accepted. As far as I can tell, it is very unlikely that I would not be accepted. My main worry is just with how many credits I will be able to transfer.</p>
			   
			 <p>So let's say I get accepted and I decide to start on my CS degree in January of 2018. What's my plan? Well, I think I will continue to work full-time while taking 2 classes each semester. After a year or so, I will
			    begin to focus on looking for internships, although I could only actually take one if it was a truly great opportunity. After 2-3 years, I would then transfer to UIC to finish my degree as a full-time student.</p>
				
			<p>I still am not 100% decided on whether or not to go back to school, but I am strongly considering it. Mainly, it is the high cost of tuition that causes me to hesitate.</p>
			
			<p>My goal for September 2017 will be to continue to work diligently on Widget CEO.</p>
           
            <h2>Fitness</h2>
            <p>In August 2017, my overall fitness hours totalled to <strong>37.5</strong> hours. I spent <strong>19.5</strong> hours lifting weights, and I spent <strong>18</strong> hours running and cycling for cardio. My average lifting hours per week was <strong>4.40</strong> hours, and my average cardio hours per week was <strong>4.06</strong> hours.</p>
			
			<p>So obviously, my lifting hours are down considerably since I've switched up my routine. It shows in my physique too. It also shows in my strength. To put it plainly, I've lost strength and muscle. With that said,
			the extra time I have been able to put toward other pursuits (and sleep) has been crucial. I was spending too much time in the gym before. Now, I think I'm maybe not spending enough (or just not spending it efficiently).
			There may or may not be a perfect balance in there somewhere. I will try my best to find it. For the time being, I will continue to prioritize pursuits of the mind over fitness.</p>

            <p></p>
			
			<p>Here is a graph of my daily weight throughout August (I missed two days):</p>

            <img class="img-responsive banner-img" src="{% static '/charts_and_graphs/Aug2017_bodyweight_daily.png' %}" alt="August Body Weight Daily" />

            <p>Overall, really not much change in weight. With that said, I do think I have a higher body fat percentage than I did a month ago due to having lost muscle.</p>
			
			<p>My goals for the month were to lose a pound or two and to maintain strength on all lifts. I did not succeed in either goal. But I'm not too upset about it. I cut purposefully cut back on my lifting time in 
			order to get more sleep and have more time to work on other things.</p>
			
			<h2>Music</h2>
			<p>Wait. Hold the phones! Is that a new category? Why, yes. Yes, it is. Near the beginning of the month, I decided that I would dedicate every Tuesday and Friday to music production. So far, I've been having a blast.</p>
			
			<p>Going into this, I really knew next to nothing about how music works, and I don't know how to play any instruments. To get started, I read <a href="http://www.worldofbryan.com/rsg2mt.pdf">RavenSpiral's Guide to Music Theory</a>; then I put what I learned to practice
             using my new Nektar LX49+ midi controller with Reaper DAW. So far, I feel like I'm progressing quickly in both my composition skills and piano playing skills.</p>
			 
			 <p>Check out what I've made so far:</p>
			 
			 <p>Considering the 29.25 hours I have put, so far, into learning/practising music, I'd say these tunes aren't terrible.</p>
			
            <h2>Other</h2>
            <p>In this past month, I spent <strong>2.75</strong> hours doing other productive stuff.</p>
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put <span style="color: #339966;">$1500</span> toward my debt. I ended up not quite reaching that goal.</p>

            <p>In the month of August 2017, I paid <span style="color: #339966;">$1250</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$20,151.31</span>. Since graduating in May of 2016, I have put <span style="color: #339966;">$23,800</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$21,541.61</span> of the original <span style="color: #ff0000;">$41,692.92</span> total. (For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>

            <h2>Goals for next month (August 2017):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Work hard on my new game concept, Widget CEO.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Work out regularly</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $500.</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}