{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - December 2017</h1>
            <img class="img-responsive banner-img" src="{% static '/Dec2017.png' %}" alt="December 2017 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. This month's banner image features graphics from the two games I made this month - Gluttony Simulator
			 and Headshot Hoard.</p>
            <h2>Broad Overview</h2>
            <p>December 2017 is the sixteenth month in which I have tracked my productivity. I spent most of the first half of this month developing games. First, I made a game called Gluttony Simulator for Ludum Dare 40. Then,
			 I made a game called Headshot Hoard for GameDevNetork's Big Festive Jam. I was on vacation for the last half of the month.</p>
            <ul>
                <li>Fitness: <strong>18.75</strong> hours</li> 
                <li>Software Development: <strong>35</strong> hours</li>
				<li>Music: <strong>3</strong> hours</li>
                <li>Other: <strong>14.5</strong> hours</li>
                <li>Total productive hours: <strong>71.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.375</strong> hours.</p>

            <p>For having taken a nearly two week long vacation this month, I am pleased with my productivity. I participated in two game jams this month, which means I have two new games to show off.</p>
            <h2>Software Development</h2>
            <p>My software development goal for the month of December 2017 was to:</p>
            <ul>
                <li>Create a game for Ludum Dare 40.</li>
			</ul>
				
				<p>I succeeded in that goal, and I also decided to participate in another game jam (GDN Big Festive Jam) afterwards. For Ludum Dare 40 I created a game called <a href="https://i4n-t.itch.io/gluttony-simulator">Gluttony Simulator</a>, 
				and for Big Festive Jam I created <a href="https://i4n-t.itch.io/headshot-hoard">Headshot Hoard</a>. Both games are fairly simple, but I like them. Headshot Hoard, in particular, is really fun to play. It may
				 be my most fun game yet. And of course, as always, it was a great learning experience working on these games.</p>
				 
				 <p>Check out these gameplay videos:</p>
				 
				 <iframe width="560" height="315" src="https://www.youtube.com/embed/3ZXcAAwbGsQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
				 <iframe width="560" height="315" src="https://www.youtube.com/embed/0DNusu2jJl4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
				 
			
			<p>I will begin working on my first class here in a few days. The class is Java Programming 1. My goal for January will be to work hard and learn some things.</p>
           
            <h2>Fitness</h2>
            <p>In December 2017, my overall fitness hours totalled to <strong>18.75</strong> hours. I spent <strong>13.5</strong> hours lifting weights, and I spent <strong>5.25</strong> hours running and cycling (on the machine) for
			cardio. My average lifting hours per week was <strong>3.05</strong> hours, and my average cardio hours per week was <strong>1.19</strong> hours.</p>
			
			<p>The hours are short, but that's due to my vacation. I actually even went for a run while on vacation! Now that's dedication. Despite that, however, I did gain some weight. That always happens for me 
			during the holiday season, so that's ok. My goal for January will be to lose some weight.<p>
			
			<h2>Music</h2>
			<p>I did not work on music much at all this month. I managed to squeak out a couple tracks somehow anyway.</p>
			 
			 <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/377994647&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
			 
			 <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/377994536&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
			
            <h2>Other</h2>
            <p>In this past month, I spent <strong>14.5</strong> hours doing other productive stuff.</p>
			
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put <span style="color: #339966;">$500</span> toward my debt. That is what I did.</p>

            <p>In the month of December 2017, I paid <span style="color: #339966;">$500</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$18,387.16</span>. Since graduating in May of 2016, I 
			have put <span style="color: #339966;">$25,800</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$23,305.76</span> of the original <span style="color: #ff0000;">$41,692.92</span> total. (
			For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>

            <h2>Goals for next month (January 2018):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Work hard in my Java Programming class.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>null</li>
            </ul>
			<h3>Music Goals:</h3>
            <ul>
                <li>null</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>null</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}