{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - December 2016</h1>
            <img class="img-responsive banner-img" src="{% static 'personal/Dec2016.png' %}" alt="December 2016 banner" />

            <p>Each Month, I plan to make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to.</p>
            <h2>Quick Note</h2>
            <p>The game I made for the Github Gameoff 2016, MineHacker, was featured on the <a href="https://github.com/blog/2292-game-off-iv-highlights">Github blog</a>. This is a huge success for me.</p>
            <h2>Broad Overview</h2>
            <p>December is the fourth month that I’ve tracked my productive hours. My main project for this month was to create a “stranded on an island” simulator using C# and Windows Forms. I was on vacation for the last 9 days of the month. Here’s the official breakdown of hours:</p>
            <ul>
                <li>Fitness: 37 hours</li>
                <li>Software Development: 40.75 hours</li>
                <li>Business/Website: 2.25 hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was 2.58 hours.</p>
            <h2>Software Development</h2>
            <p>My overall software development goals for the month of December were as follows:</p>
            <ul>
                <li>Work on software development for at least 25 hours.</li>
                <li>Make decent progress toward the creation of some sort of software.</li>
            </ul>
            <p>Surprisingly, I absolutely DECIMATED my first goal. With a full 11 days off in the month of December, I still managed to get in 40.75 hours of software development. Now there is a caveat to that: starting in this month, I recorded my time spent reading software development/coding books, which was usually about half an hour each week day. Even so, that only accounted for about 5 hours.</p>

            <p>In last month’s report, I said that I would be doing a project with C# and Windows Forms, but I didn’t know what that would be exactly. I finally decided to create a simulation of multiple survivors stranded on an island. The survivors could each be customized with certain stats that would influence their behavior, and a text log would update with information on what is happening (so you can read the simulation like a story). The idea here was to create a piece of software that could dynamically generate new and interesting stories. My inspiration was Dwarf Fortress and other similar games like Rimworld and Gnomoria.</p>

            <p>I had a ton of fun with this project, I learned a lot, and the end result is actually a pretty neat little piece of software. You can download the “Stranded on an Island Simulator” from my Github account <a href="https://github.com/BelowParallelStudios/Stranded-on-an-Island">HERE</a>, or if you don’t want to do that you can watch the short video demonstration below.</p>

            <iframe style="padding: 10px;" width="560" height="315" src="https://www.youtube.com/embed/B-FAsvvArzA" frameborder="0" allowfullscreen></iframe>

            <p>I must say, that while this project is obviously incomplete, I most likely will not be coming back to it any time in the near future. I got what I needed out of the endeavor (an increase in knowledge and a couple new weapons in my arsenal), and that’s good enough for me. I think there is a very visible difference in the organizational quality of my code for this project as compared to the past two.</p>

            <p>What I had the most fun with in developing the Stranded on an Island Simulator was in building the randomize functionality of the “create a survivor” form. Here is a short video where I walk through the code and explain how it works:</p>

            <iframe style="padding: 10px;" width="560" height="315" src="https://www.youtube.com/embed/IBUDcFxrLPU" frameborder="0" allowfullscreen></iframe>

            <p>Goals for January:</p>

            <p>With the new year comes new goals. I recently found out about the OCSM program at Georgia Tech, and I am seriously considering it. For those that don’t know what that is, it is an online masters degree program offered by Georgia Tech for a cost of only about $7,000.</p>

            <p>I know what you’re thinking:</p>

            <p>“That’s $7k per semester, right?”</p>

            <p>WRONG. The total cost of the program is (give or take) $7,000.</p>

            <p>“But it’s an online degree. I mean, it’s not the same as an ACTUAL master’s degree from Georgia Tech.”</p>

            <p>WRONG. The degree awarded from the program is exactly the same degree awarded to on-campus students at GT.</p>

            <p>“It just doesn’t add up. There must be a catch!”</p>

            <p>WRONG (as far as I can tell). I also think that it sounds too good to be true, but I’ve looked into it, and I really don’t think there is a catch here. Of course, I will make damn sure that that is the case before I spend any money.</p>

            <p>For me, this program would probably be my only chance to get a formal education in Computer Science. There is no way I can justify the cost of a second bachelor’s (or a master’s), and aside from that, I am not in a position to safely quit my job to pursue studying.</p>

            <p>The OCSM program is made to cater to people working full-time, so I should be able to manage. And with the cost being so low, I could afford to pay tuition out-of-pocket.</p>

            <p>Like I said, I’m not 100% invested in pursuing this program, but I am strongly considering applying for the Fall 2017 term (or maybe Spring 2018).</p>

            <p>So where do I go from here?</p>

            <p>Well, Georgia Tech is a pretty prestigious institution. If I want to get accepted to their Computer Science Master’s program as a Mechanical Engineering bachelor’s holder, I need to be able to prove that I know my way around some algorithms and data structures. With that said, I’m going back to the basics.</p>

            <strong>Starting in January, I will be working toward completing Harvard’s Introduction to Computer Science course, CS50, that is offered for free online.</strong> I might even shell out the $90 for the certificate of completion. At best, I think this course would be good to show GT that I have, at least, completed an online computer science class. At worst, I learn something. Sounds like a win-win to me.</p>
            <h2>Fitness</h2>
            <p>With an overall total of 37 hours, December 2016 marks the first month in which I spent less time on fitness than I did on game/software development. 34.5 of those hours were spent lifting weights, and 2.5 of those hours were spent doing cardio. That’s an average of 6.14 fitness hours per week, with 8.05 average lifting hours per week and 0.58 average cardio hours per week.</p>

            <p>My average bodyweight for the month, considering only those days between Dec 5 and Dec 22, was 208.52 lbs. Surprisingly, I actually did lose weight, and was continuing to do so steadily throughout the month. That is until I went home for the holidays and stuffed my face full of junk.</p>

            <p>The lifts from December that I am most proud of are:</p>
            <ul>
                <li>Military Press: 170 x 5 reps, 5 sets (strict form)</li>
                <li>Rack pull: 485 x 5 reps</li>
                <li>Every lift on my current leg day, which is pretty much ridiculous</li>
            </ul>
            <p>My fitness goal from last month was just to buy some healthy groceries for myself while on vacation. I did not do that. Consider this goal failed. With that said, I ate about 6 pounds of steak over a 9 day period, and while I gained some amount of fat, I do think I also managed to <strong>cultivate some mass</strong>. I just feel more swole when I look in the mirror. Maybe it’s just fat. I don’t know.</p>

            <img class="img-responsive banner-img" src="{% static 'personal/Not Created by Me/cultivatingMass.jpg' %}" alt="Cultivating mass" />

            <p>I made one more tweak to my workout program, replacing back squats on one of my leg days to front squats. I have only done front squats twice so far, so I cannot comment on how effective they are. With that said, they are really tough to do, so they must be working.</p>

            <p>My goal for January 2017 is to get to at least below 210 lbs body weight and stay there. Another goal is to increase weight and improve form on my front squat.</p>
            <h2>Website/Marketing</h2>
            <p>In this past month, I spent 2.25 hours working on this website/marketing.</p>

            <p>These hours were spent working on this website and creating gifs and videos to share on Twitter.</p>

            <p>This category is almost negligible at this point. I may or may not include it in next month’s report.</p>

            <p>My goal is to continue to tweet occasionally.</p>
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put $1250 toward my debt. I failed, paying off only $1000.</p>

            <p>In the month of December 2016, I paid <span style="color: #99cc00;">$1,000</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$30,055.26</span>. Since graduating in May of 2016, I have put <span style="color: #99cc00;">$13,250</span> toward my student loan debt. That means I have paid off <span style="color: #99cc00;">$11,637.66</span> of the original <span style="color: #ff0000;">$41,692.92</span> total. (For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>
            <h2>Goals for next month (January 2017):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Work toward completing Harvard’s CS50 without falling behind schedule as compared to on-campus students.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Get below 210 lbs bodyweight.</li>
                <li>Improve form and increase weight on front squat</li>
            </ul>
            <h3>Website/Marketing Goals:</h3>
            <ul>
                <li>Use twitter.</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $1,500.</li>
            </ul>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}