{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - February 2018</h1>
            <img class="img-responsive banner-img" src="{% static '/Feb2018.png' %}" alt="February 2018 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to.</p>
            <h2>Broad Overview</h2>
            <p>February 2018 is the 18th month in which I have tracked my productivity. I started the month working through the Big Nerd Ranch guide to Android Development (incomplete), before
			moving on to work through my second Java class.</p>
            <ul>
                <li>Fitness: <strong>21.25</strong> hours</li> 
                <li>Software Development: <strong>50.5</strong> hours</li>
				<li>Music: <strong>19</strong> hours</li>
                <li>Other: <strong>0</strong> hours</li>
                <li>Total productive hours: <strong>93.95</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>3.24</strong> hours.</p>

            <p>Overall, it was a very productive month.</p>
            <h2>Software Development</h2>
            <p>My software development goal for the month of February 2018 was to:</p>
            <ul>
                <li>Work through as much of the Big Nerd Ranch Guide to Android as I can manage before class starts.</li>
				<li>Work hard in my second Java Programming class.</li>
			</ul>
				
			<p>So far so good. I managed to get through about 1/5 of the Android book before class started. It's a pretty big book, so I think that's not too bad. Hopefully I will have time to
			pick up where I left off before long.</p>
				 			
			<p>My second Java class is going well so far. I am about half way through Lesson 8 of 12, which puts me about a week ahead in the class. I feel fairly comfortable with Java now. I 
			look forward to learning more.</p>
           
            <h2>Fitness</h2>
            <p>In February 2018, my overall fitness hours totalled to <strong>21.25</strong> hours. I spent <strong>11</strong> hours lifting weights, and I spent <strong>10.25</strong> hours running and cycling (on the machine) for
			cardio. My average lifting hours per week was <strong>2.75</strong> hours, and my average cardio hours per week was <strong>2.56</strong> hours.</p>
			
			<p>I lost a bit of weight overall, I think, this month. I didn't have any fitness goals, but I can't complain.<p>
			
			<h2>Music</h2>
			<p>This month I spent <strong>19</strong> hours making music. That's probably a new record for me.</p>
			<p>Here is a beat I made by sampling "Operator" by Jim Croce:</p>
			 
			 <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407846691&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>0</strong> hours doing other productive stuff.</p>
			
			<h2>Books</h2>
			<p>This month I read Code: The Hidden Language of Computer Hardware by Charles Petzold. Though hard to read at times, I really got a lot out of this book. The book is all about
			how computers work, and it starts off by explaining how the most basic form of a computer can be built with light bulbs and relays, then eventually gets to more modern(ish) computers. 
		    The book also gives a good overview of the history of computers. I would recommend this book to anybody interested in computer engineering or programming.</p>
			
			<p>Also this month, I finished reading my Java text book - Java Programming by Joyce Farrell. I really can't say much bad about this book. It is good for what it is - an introductory
			book to a specific programming language. For anyone that wants to learn Java, this book is a good place to start.</p>
			
			
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put <span style="color: #339966;">$500</span> toward my debt. That is what I did.</p>

            <p>In the month of February 2018, I paid <span style="color: #339966;">$500</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$17,498.48</span>. Since graduating in May of 2016, I 
			have put <span style="color: #339966;">$26,800</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$24,194.44</span> of the original <span style="color: #ff0000;">$41,692.92</span> total.</p>

            <h2>Goals for next month (March 2018):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Work hard in my Java Programming class.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>null</li>
            </ul>
			<h3>Music Goals:</h3>
            <ul>
                <li>practice making beats from samples</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>null</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}