{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - February 2017</h1>
            <img class="img-responsive banner-img" src="{% static 'personal/Feb2017.png' %}" alt="February 2017 banner" />

            <p>Each Month, I plan to make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. This month's banner image is a fuzzy cell phone photo of the inside of my computer, because I didn't have an image to use, and my computer and cell phone were both within arm's reach at the time of uploading this post.</p>
            <h2>Broad Overview</h2>
            <p>February is the sixth month in which I have tracked my productivity. Instead of working on a project this month, I have continued to work through Harvard’s intro to computer science class, CS50,<a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x"> which is available for free online</a>. Here is the breakdown of how I spent my time in February:</p>
            <ul>
                <li>Fitness: <strong>28.5</strong> hours</li>
                <li>Software Development: <strong>25.25</strong> hours</li>
                <li>Business/Website: <strong>2.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.05</strong> hours.</p>

            <p>Now, looking at these hours, you might be thinking “Jeez, Ian, getting lazy aren’t you?”, but you have to keep in mind that February has 2-3 less days in it than other months. Of course, my software development hours shouldn’t be less than half of what they were in January just because of a few less days. What happened was I actually ended up taking an unexpected trip out of state due to a death in the family. When I returned home, my cpu fan no longer worked so I could not use my main computer until I replaced it. All in all, this resulted in an 8-day-long period of zero productivity.</p>
            <h2>Software Development</h2>
            <p>I believe February has been my least productive month so far. Software development hours totaled to only <strong>25.25</strong> hours. The good news is that I did complete my goal for the month.</p>

            <p>My overall software development goal for the month of January was:</p>
            <ul>
                <li>Complete at least up through Week 7 of Harvard’s CS50.</li>
            </ul>
            <p>I was successful in this goal and +1. I so far have completed up through Week 8 of the course. This was made much easier by the unexpected fact that Weeks 5 and 6 did not have homework assignments. Either way, I’ll take it. Goal completed. Success.</p>

            <p>The class is still going very well for me. I am learning a lot of good stuff, and I am having fun doing it. That’s just about all you can ask for. There are only two homework assignments and the final project left.</p>

            <p><strong>My goal for March 2017 will be to complete the remaining two homework assignments.</strong></p>

            <p>I will likely get started on the final project during March as well, but I don’t expect to finish.</p>
            <h2>Fitness</h2>
            <p>In February 2017, my overall fitness hours totalled to <strong>28.5</strong> hours. I spent <strong>26.5</strong> hours lifting weights, and I spent <strong>2</strong> hours running for cardio. That averages out to <strong>6.63</strong> lifting hours per week and <strong>0.5</strong> cardio hours per week.</p>

            <p>Considering the unexpected time off, I can live with those numbers.</p>

            <p>My average body weight for the month is not really possible to determine since I went so many days without recording my weight. Let me say this though: I failed my goal miserably. The goal was to stay below 209 lbs, and that didn’t even almost happen. My last recorded weight in February (on the 28<sup>th</sup>) was 215.2 lbs. You may notice that I always gain about 5-10 lbs anytime I travel to my home state. I could make excuses for why that is, but ultimately, it is my own fault. With that said, it is a new month now, so all I can do is try harder to reach my new goal. My weight goal for March will be to get below 210 lbs, with an average weight of less than 212 lbs.</p>

            <p>My other fitness goal was to increase weight and improve form on front squat. I did succeed in this goal. I increased my 5x10 weight to 175 lbs (below parallel, of course), and I think I will be able to get that up to 185 within another month, so that will be my goal.</p>
            <h2>Other</h2>
            <p>In this past month, I spent <strong>3.75</strong> hours doing other productive stuff.  That includes 1.75 hours writing articles and updating this website as well as 2 hours spent installing a new CPU cooler.</p>
            <h1>Student Loan Repayment</h1>
            <p>Last month, my goal was to put <span style="color: #339966;">$500</span> toward my debt. I met that goal exactly.</p>

            <p>In the month of February 2017, I paid <span style="color: #339966;">$500</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$28,141.80</span>. Since graduating in May of 2016, I have put <span style="color: #339966;">$15,350</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$13,551.12</span> of the original <span style="color: #ff0000;">$41,692.92</span> total. (For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>

            <p>It feels bad paying off so little debt this past month, but hopefully this will only continue for, at most, 2 more months.</p>

            
            <h2>Goals for next month (March 2017):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Complete the remaining two homework assignments for CS50</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Get below 210 lbs bodyweight, with an average weight less than 212 lbs.</li>
                <li>Front squat 185 lbs for 5 sets of 10.</li>
            </ul>
            <h3>Business/Website Goals:</h3>
            <ul>
                <li>Sell my car</li>
                <li>Get my bicycle tuned up</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $500.</li>
            </ul>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}