{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - January/February 2020</h1>
            <img class="img-responsive banner-img" src="{% static '/JanFeb2020.png' %}" alt="January/February 2020 banner" />

            <p>This month's banner features .</p>
            <h2>Overview</h2>
			<p>First off, you'll notice that I've combined January 2020 and February 2020 into this single blog post. The reason is simply because I neglected to write up January's post in a timely manner. For simplicity's sake, I'm just combining the last two months' posts into one. 
            Secondly, considering I am unemployed you may notice that my overall productive hours are not terrific (maybe not absolutely terrible, but not great). I have had and am still having some growing pains in adjusting to my life 
            as an unemployed student. I guess I shouldn't be surprised. I made a major change in my life recently by quitting my job to focus on school. </p>
            <p>January 2020 is the 41st month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>14.25</strong> hours</li> 
                <li>Software Development: <strong>119.75</strong> hours</li>
				<li>Music/Art: <strong>0.00</strong> hours</li>
                <li>Other: <strong>0.75</strong> hours</li>
                <li>Total productive hours: <strong>134.75</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>4.35</strong> hours. </p>

			 <p>February 2020 is the 42nd month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>7.00</strong> hours</li> 
                <li>Software Development: <strong>105.25</strong> hours</li>
				<li>Music/Art: <strong>0.00</strong> hours</li>
                <li>Other: <strong>2.00</strong> hours</li>
                <li>Total productive hours: <strong>114.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>3.94</strong> hours. </p>

			
            <h2>Software Development</h2>

            <p>January 2020 was the month in which my time as a Georgia Tech OMSCS student began. I was enrolled in Advanced Operating Systems (AOS) and Intro to Information Security (IIS). As of February 26, I have withdrawn 
			from IIS. It isn't ideal, and I'm not proud of myself; but here is the reason. Simply put, I took too much time off during one week in particular, and I fell too far behind. As it turns out, one class, AOS, has
            the workload I would expect from 3 average graduate level classes combined. IIS, on the other hand, has about an average workload, maybe slightly above average. Even though I fell behind, I am confident I could have 
			managed to pass both classes if I had not withdrawn from IIS. So why did I withdraw? Well, the reason I enrolled in OMSCS in the first place is because I want to learn and improve as a programmer. Getting a job is 
			only a secondary motivation for me. I already had a good job as a mechanical engineer. I quit that job so that I could learn and improve as a programmer at a faster rate. Maybe it will take me an extra semester to finish 
            the program now; and sure, I pretty much just put $500 in the shredder (withdrawal means no refund). But playing catch-up in both classes was not going to give me the best learning experience. Yeah, I'm dissapointed in myself, 
            but it is what it is. Overall, I consider this recent failure of mine a valuable learning experience. Fwiw, I did have an A in IIS at the time of withdrawal. I'll be ready to conquer it 
            in a future semester (hopefully over the summer if it is offered).</p>

			<p></p>
									       			
            <h2>Fitness</h2>
            <p>In January 2020, my overall fitness hours totalled to <strong>14.25</strong> hours. I spent <strong>8.50</strong> hours lifting weights, and I spent <strong>5.75</strong> hours on cardio. 
			 My average lifting hours per week was <strong>1.92</strong> hours, and my average cardio hours per week was <strong>1.30</strong> hours.</p>

            <p>In February 2020, my overall fitness hours totalled to <strong>7.00</strong> hours. I spent <strong>5.25</strong> hours lifting weights, and I spent <strong>1.75</strong> hours on cardio. 
			 My average lifting hours per week was <strong>1.27</strong> hours, and my average cardio hours per week was <strong>0.42</strong> hours.</p>
			
			<p>Yeah, this is terrible. Fortunately, my weight has not changed much in the past few months; although, I definitely have lost some muscle. My cardio fitness has suffered a bit as well, but really no big deal. I 
            need to get my motivation in order. That much is clear. Obviously, I'm not perfect. I'm just glad I had the idea to start this blog a few years ago. It really helps me hold myself accountable. When I have periods of 
            laziness like this, I can't just hide it from the world. I have to write about it in my blog and enshrine my shame eternally on the web.<p>	

			<h2>Music/Art</h2>
			<p>Nothing to see here.</p>
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>2.00</strong> hours doing other productive stuff.</p>
				
            <h2>Goals for next month (March 2020):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
				<li>Work hard in school, and learn stuff about computers.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
				<li>Get back into the habit of daily exercise.</li>
            </ul>
			<h3>Other Goals:</h3>
            <ul>
				<li>null</li>
            </ul>
			
			
			<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_URL; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ianterry.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}