{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - January 2017</h1>
            <img class="img-responsive banner-img" src="{% static '/Jan2017.png' %}" alt="January 2017 banner" />

            <p>Each Month, I plan to make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to.</p>
            <h2>Broad Overview</h2>
            <p>January is the fifth month in which I’ve tracked my productive hours. Instead of working on a project this month, I have been working through Harvard’s intro computer science class, CS50, <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">which is available for free online</a>. Here’s the official breakdown of hours:</p>
            <ul>
                <li>Fitness: 47.5 hours</li>
                <li>Software Development: 53.0 hours</li>
                <li>Business/Website: 3.75 hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was 3.25 hours.</p>
            <h2>Software Development</h2>
            <p>With <strong>53.0</strong> total software development hours, January 2017 has been my most productive month thus far.</p>

            <p>My overall software development goal for the month of January was as follows:</p>
            <ul>
                <li>Work toward completing Harvard’s CS50 without falling behind schedule as compared to on-campus students.</li>
            </ul>
            <p>So far, so good. I just started on the assignment for Week 5 (which is actually the 6<sup>th</sup> week according to the class’s numbering system). After checking Harvard’s academic calendar, it looks like on campus students will only be on the 2<sup>nd</sup> week of classes (Week 1 by CS50 count) as February begins. That means I am currently 4 weeks ahead.</p>

            <p>So far, the assignments in CS50 have been both challenging and worthwhile. I am very glad that I decided to take this course. I have already learned a lot of new stuff. For example:</p>
            <ul>
                <li>Some common data structures and sorting algorithms</li>
                <li>How to programmatically do stuff with different file types (like JPEG, txt, etc)</li>
                <li>Some stuff that can be done with memory</li>
                <li>A bit about how programs are interpreted and run “under the hood”</li>
            </ul>
            <p>I am only about halfway through the course, and already I have learned a wealth of valuable information. It sucks not having time to work on a project while I’m taking the course, but I know it is worth it. I have a couple of ideas for the final project, which I am looking forward to. After I finish the course, I am considering taking Princeton’s Algorithms course on Coursera. We’ll see.</p>

            <p><strong>My goal for February is to stay at least 3 weeks ahead of on campus students in CS50. That means by the end of February, I should have completed Week 7.</strong></p>
            <h2>Fitness</h2>
            <p>In January 2017, my overall fitness hours totaled to <strong>47.5</strong>. Of those hours, <strong>42.5</strong> were spent lifting weights, and <strong>3.0</strong> of those hours were spent doing cardio. That’s an average of <b>10.73</b> fitness hours per week, with <strong>10.05</strong> average lifting hours per week and <strong>0.68</strong> average cardio hours per week.</p>

            <p>My average bodyweight for the month was 210.65 lbs. That is greater than the average weight of 208.52 from December 2016, but the numbers here can be deceiving. I started off this month (January) at a bloated, post-holiday weight of 218.2 lbs. My last recorded weight of the month was 206.6 lbs. It's safe to say, over the course of the month I lost 3 to 6 lbs.</p>

            <p>The lifts from January that I am most proud of are:</p>
            <ul>
                <li><span style="color: #008000;"><strong>Deadlift: 405 x 1 rep</strong></span></li>
                <li>Front Squat 170 x 5 sets x 10 reps (below parallel)</li>
            </ul>
            <p>A long term goal of mine has been to deadlift 4 plates, or 405 lbs. On January 29, 2017, I achieved that goal. As soon as I put the weight back down, I immediately felt 100 lbs swoller. I feel like my back is basically a turtle shell. If I jumped off a cliff on a windy day with my lats flared, I could hang-glide without a hang-glider. Etcetera.  I tried to pull 420 lbs after the successful 4 plate lift, but somebody must have glued the weights to the floor when I wasn’t looking.</p>

            <p>My fitness goals for January 2017 were:</p>
            <ul>
                <li>get my weight below 210 lbs and stay there</li>
                <li>increase weight and improve form on front squat</li>
            </ul>
            <p>I succeeded in both goals. On January 18, I weighed in at 209.0 lbs, and my highest weigh in since that was 210.0 on January 28. It’s safe to say I lost 3 to 6 lbs this month overall.</p>

            <p>As far as front squat goes, I started off the exercise doing 3 sets of 155 lbs (I think), and most recently I did 5 sets of 10 at 170 lbs. This exercise is TOUGH, but I definitely have noticed some development in my quads. What I didn’t expect, however, is how much growth I would see in my back! I had no idea how tough front squats would be on my back, but they absolutely kill. I think my new deadlift PR might just be, at least somewhat, attributable to my recent incorporation of front squats.</p>

            <p><strong>My goal for February 2017 is to get to at least below 209 lbs body weight and stay there. Another goal is to increase weight and improve form on my front squat.</strong></p>
            <h2>Website/Marketing</h2>
            <p>In this past month, I spent <strong>3.75</strong> hours working on this website/marketing.</p>

            <p>These hours were spent working on this website and posting on Twitter once or twice.</p>

            <p>This category is almost negligible at this point. Most likely, I will replace this with an “Other” category for next month.</p>
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put $1500 toward my debt. I succeeded with a bit extra.</p>

            <p>In the month of January 2017, I paid <span style="color: #008000;"><strong>$1,600</strong></span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$28,550.68</span>. Since graduating in May of 2016, I have put <strong><span style="color: #339966;"><span style="color: #008000;">$14,850</span></span></strong> toward my student loan debt. That means I have paid off <strong><span style="color: #339966;"><span style="color: #008000;">$13,142.24</span></span></strong> of the original <span style="color: #ff0000;">$41,692.92</span> total. (For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>

            <p>Unfortunately, it looks like I will have to slow down on my debt repayment for the next few months as I save up to buy a car (in cash). I will continue to pay off at least $500 each month in the meantime.</p>
            <h2>Goals for next month (February2017):</h2>
            <h3>Software Development Goals:</h3>
            <ul>
                <li>Complete at least up through Week 7 of Harvard’s CS50.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Get below 209 lbs and stay there.</li>
                <li>Improve form and increase weight on front squat</li>
            </ul>
            <h3>Business/Website Goals:</h3>
            <ul>
                <li>NULL</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $500.</li>
            </ul>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}