{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - January 2018</h1>
            <img class="img-responsive banner-img" src="{% static '/Jan2018.png' %}" alt="January 2018 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to.</p>
            <h2>Broad Overview</h2>
            <p>January 2018 is the 17th month in which I have tracked my productivity. I spent most of the month taking an introductory Java class. Overall, it was a very productive month.</p>
            <ul>
                <li>Fitness: <strong>32</strong> hours</li> 
                <li>Software Development: <strong>62</strong> hours</li>
				<li>Music: <strong>10.75</strong> hours</li>
                <li>Other: <strong>3.25</strong> hours</li>
                <li>Total productive hours: <strong>108</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>3.53</strong> hours.</p>

            <p>I feel good about this month. I managed to get in a lot of productive time compared to last month.</p>
            <h2>Software Development</h2>
            <p>My software development goal for the month of January 2018 was to:</p>
            <ul>
                <li>Work hard in my Java Programming class.</li>
			</ul>
				
			<p>Check. In only three week's time, I managed to fully complete the 8-week-long course with perfect marks.
			While it was only an introductory course, I did learn a lot, and I now feel fairly comfortable with Java.
			I think my overall object oriented programming skills have increased as well. I'm looking forward to beginning
			the next course - Java Programming 2.</p>
				 			
			<p>My plan is to begin the next class on February 12. In the meantime, I am learning to develop Android
			apps by working through The Big Nerd Ranch Guide to Android. I probably won't have time to finish the whole
			book before my class starts, but that's fine. I will learn as much as I can with the time I have.</p>
           
            <h2>Fitness</h2>
            <p>In January 2018, my overall fitness hours totalled to <strong>32</strong> hours. I spent <strong>21.25</strong> hours lifting weights, and I spent <strong>10.75</strong> hours running and cycling (on the machine) for
			cardio. My average lifting hours per week was <strong>4.80</strong> hours, and my average cardio hours per week was <strong>2.43</strong> hours.</p>
			
			<p>My goal for the month was to lose some of my holiday weight. I would say I was successful. My lowest weigh-in of
			the month came in at 208.8 lbs just a few days ago. Compare that to my January 1st weight of 216 lbs.<p>
			
			<h2>Music</h2>
			<p>This month I spent <strong>10.75</strong> hours making music.</p>
			<p>I started the month continuing my experiments with chiptune/lo-fi/8-bit style music. Later on, I started experimenting with sampling.
			I have not finished the beat I made with sampling yet, but I do have one nice new tune to showcase.</p>
			 
			 <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/393680343&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>3.25</strong> hours doing other productive stuff.</p>
			
			<h2>Books</h2>
			<p>Since I read fairly often, I figured I would introduce a new section for me to mention what books I've read
			during the month and maybe give a brief review. For the record, I do not include time spent reading in my hours
			unless the reading was specifically software dev related (like a textbook for example).</p>
			
			<p>This month I finished reading Mastering Bitcoin by Andreas Antonopoulos. I do think I understand cryptocurrency
			a little bit better after reading this book, but honestly most of the info in this book just didn't take. With that said,
			I think this book would be an excellent resource to use if I ever decide to do any Bitcoint development.</p>
			
			<p>Also this month, I read Neuromancer by William Gibson. This book is often credited with popularizing the Cyberpunk genre,
			and I can see why. The story is very action-packed and the setting is unique and interesting. This book should be made into
			a movie, and I'm actually surprised that it hasn't been already. My only complaint about Neuromancer is that sometimes it is
			hard to follow what is happening.</p>
			
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put <span style="color: #339966;">$500</span> toward my debt. That is what I did.</p>

            <p>In the month of January 2018, I paid <span style="color: #339966;">$500</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$17,943.54</span>. Since graduating in May of 2016, I 
			have put <span style="color: #339966;">$26,300</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$23,749.38</span> of the original <span style="color: #ff0000;">$41,692.92</span> total.</p>

            <h2>Goals for next month (February 2018):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
				<li>Work through as much of the Big Nerd Ranch Guide to Android as I can manage before class starts.</li>
                <li>Work hard in my second Java Programming class.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>null</li>
            </ul>
			<h3>Music Goals:</h3>
            <ul>
                <li>practice making beats from samples</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>null</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}