{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - June 2020</h1>
            <img class="img-responsive banner-img" src="{% static '/June2020.png' %}" alt="June 2020 banner" />

            <p>This month's banner features my recently upgraded living room. The tv, couch, and plants are all new.</p>
            <h2>Overview</h2>
			<p>As you may have noticed, I did not write a blog for March, April, or May. There's no good reason for the neglect; I've just been putting it off. I did, however, continue 
			to log my hours as usual, so I'll just go ahead and include my stats for the past few months in this post.</p>
            <p>March 2020 is the 43rd month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>4.25</strong> hours</li> 
                <li>Software Development: <strong>79.00</strong> hours</li>
				<li>Music/Art: <strong>0.00</strong> hours</li>
                <li>Other: <strong>0.75</strong> hours</li>
                <li>Total productive hours: <strong>84.00</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.71</strong> hours. </p>

			 <p>April 2020 is the 44th month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>7.00</strong> hours</li> 
                <li>Software Development: <strong>102.25</strong> hours</li>
				<li>Music/Art: <strong>0.00</strong> hours</li>
                <li>Other: <strong>0.50</strong> hours</li>
                <li>Total productive hours: <strong>109.75</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>3.66</strong> hours. </p>

			<p>May 2020 is the 45th month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>7.25</strong> hours</li> 
                <li>Software Development: <strong>40.50</strong> hours</li>
				<li>Music/Art: <strong>2.25</strong> hours</li>
                <li>Other: <strong>0.00</strong> hours</li>
                <li>Total productive hours: <strong>50.00</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>1.61</strong> hours. </p>

			<p>June 2020 is the 46th month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>15.00</strong> hours</li> 
                <li>Software Development: <strong>69.00</strong> hours</li>
				<li>Music/Art: <strong>0.00</strong> hours</li>
                <li>Other: <strong>2.00</strong> hours</li>
                <li>Total productive hours: <strong>86.00</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.87</strong> hours. </p>

			
            <h2>Software Development</h2>

            <p>I'm not going to bother going into much detail on March, April, and May. The stats speak for theirselves. I'll just say that I am overall dissappointed in how unproductive 
			I was in the first half of the year. I have only to look forward to what the future holds in store, and I am optimistic.</p>

			<p>Now let's talk about June. Although the hours logged looks just as bad as the previous three months, there is a silver lining. For the last half of the month, especially 
			in the last week, I have been on a hot streak. 57.00 out of the total 69.00 logged software dev hours were logged in the last half of the month. Even that is short of my aspirations, 
            but I'd say it's not too bad.</p>

			<p>I am currently enrolled in Intro to Information Security for the summer semester. So far, I am mostly pleased with the class material. I have especially enjoyed learning about and 
			getting some good hands-on experience with cryptography.</p>

			<p>Aside from that, I have recently gotten back to sharpening my Android development skills. Currently, I am working through <a href="https://www.youtube.com/watch?v=vplEwIJzYZk">this fun tutorial</a> on how to build a social networking 
            app using Firebase as the backend. Hopefully, I will be able to use what I'm learning here to build my own social networking app as a personal project.</p>
									       			
            <h2>Fitness</h2>
            <p>In June 2020, my overall fitness hours totalled to <strong>15.00</strong> hours. I spent <strong>6.00</strong> hours lifting weights, and I spent <strong>9.00</strong> hours on cardio. 
			 My average lifting hours per week was <strong>1.40</strong> hours, and my average cardio hours per week was <strong>2.10</strong> hours.</p>

            <p>Note that "lifting weights" here really just means any anaerobic exercise. Due to the pandemic, the local gym has been closed for a while. It has recently re-opened, but I 
            do not personally feel that it is safe to return just yet. In lieu of weight lifting, I have been doing mostly bodyweight anaerobic exercises such as (multiple variations of) push-ups 
            and pull-ups. I do have some dumbells at home, so I have been doing some minor weight lifting, namely shoulder presses, shrugs, and goblet squats. A local park, <a href="https://www.chicagoparkdistrict.com/parks-facilities/oriole-park">Oriole Park</a> to be exact,
            has some outdoor exercise equipment, so I have been going there for my workouts occasionally.</p>
			
			<p>Also, I know that 15.00 total fitness hours for the month does not look good. However, 13.00 out of those 15.00 hours are from just the last half of the month. In fact,
            I have taken zero days off in over two weeks. On June 30, I weighed in at 191.8 lbs (a healthy weight for me), so at least I can't say that my laziness over the past several
            months has had all that much impact on my health.<p>	

			<h2>Music/Art</h2>
			<p>I did actually work on some lyrics at some point during May. It's for a song I had first started working on over a year ago that I never finished. The song is about my lifelong
            struggles with social anxiety. I think the lyrics are pretty good, but the music itself is not very good. Maybe one day I will finish, but currently this is not a priority.</p>
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>2.00</strong> hours doing other productive stuff.</p>
				
            <h2>Goals for next month (July 2020):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
				<li>Work hard in school, and learn stuff about computers.</li>
                <li>Practice Android development</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
				<li>Continue to exercise every day.</li>
            </ul>
			<h3>Other Goals:</h3>
            <ul>
				<li>null</li>
            </ul>
			
			
			<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_URL; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ianterry.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}