{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - May 2018</h1>
            <img class="img-responsive banner-img" src="{% static '/May2018.png' %}" alt="May 2018 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. The banner image from this month includes an image created using 
			the facial recognition app I am working on, as well as a scene from Chicago's North Branch bike trail.</p>
            <h2>Broad Overview</h2>
            <p>May 2018 is the 21st month in which I have tracked my productivity. This month has seen a large uptick in fitness hours (due to increased cardio). The project I've been focusing
			 on is an Android app incorporating Microsoft Face API as well as Facebook and Twitter APIs.</p>
            <ul>
                <li>Fitness: <strong>47.25</strong> hours</li> 
                <li>Software Development: <strong>29.75</strong> hours</li>
				<li>Music/Art: <strong>7</strong> hours</li>
                <li>Other: <strong>9.25</strong> hours</li>
                <li>Total productive hours: <strong>86.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.78</strong> hours.</p>

            <p>May was a mixed bag. On the one hand, I managed to lose some weight, my cardio hours are way up, and I made some progress in the gym with my lifts. On the other hand, my software development hours were not 
			so great.</p>
			
            <h2>Software Development</h2>
            <p>My software development goal for the month of May 2018 was to:</p>
            <ul>
				<li>Work hard on my facial recognition App.</li>
			</ul>
				
			<p>Even though my total development hours were low at only <strong>29.75</strong>, I did manage to make substantial progress on the app. As of now, I'm calling it EmojiPhoto. The app works like this:</p>
			<ul>
				<li>You either take a photo or choose a photo you have saved on your phone already</li>
				<li>You then press the "process" button to automatically paste an emoji over your face. The emoji will match your emotion according to Microsoft Face API.</li>
				<li>You then have the option to share the photo on Facebook or Twitter</li>
			</ul>
			
			<p>Really, pretty much all of the main functionality of the app is done. Before I release, I just want to clean up the code and the UI and maybe tweak the emoji positioning a bit. 
			What's nice about this app is that in order to build it I've had to learn how to implement three different popular API's, I've had to learn how to access the phone's camera through
			 an app, and I've had to learn how to access device storage, and I've had to learn a bit of file management stuff. For a fairly simple app, I've managed to learn quite a bit.</p>			
							       
		    <p>My goal for June will be to get this app on the Play store. I have not yet decided what my next project will be.</p>
			
            <h2>Fitness</h2>
            <p>In May 2018, my overall fitness hours totalled to <strong>47.25</strong> hours. I spent <strong>22.25</strong> hours lifting weights, and I spent <strong>25</strong> hours running and cycling for
			cardio. My average lifting hours per week was <strong>5.02</strong> hours, and my average cardio hours per week was <strong>5.65</strong> hours.</p>
			
			<p>The dramatic increase in cardio hours is mostly attributable to the fact that it has been warm out, and so I have been riding my bike every weekend. Over the course of the month I lost about 3-5 lbs. I will
			 try to keep that downward trend going for the next month.<p>
			
			<h2>Music/Art</h2>
			<p>I did spend 7 hours on music this month, but I don't have anything complete to share.</p>	 
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>2.25</strong> hours doing other productive stuff.</p>
			 		
			<h2>Books</h2>
			<p>Early in the month I finished reading <a href="https://www.goodreads.com/book/show/830.Snow_Crash"><u>Snow Crash</u></a> by Neal Stephenson. This is, hands down, the most action packed story I've ever read. The book also contains some very thought provoking ideas. The story is 
			set sometime in the near future, but the world is vastly different than anyone now would expect it to end up (the book was written in the 90's). It's just a really enthralling, thought provoking story set in a 
			fantastic cyber-punk future with a sarcastic sense of humor. I recommend <u>Snow Crash</u> to anyone that enjoys sci-fi, cyber-punk, or action.</p>
			
			<p>Since I enjoyed <u>Snow Crash</u> so much, I decided to read another Neal Stephenson novel next - <a href="https://www.goodreads.com/book/show/827.The_Diamond_Age"><u>The Diamond Age: Or, A Young Lady's Illustrated Primer</u></a>. This book is so awesome that it makes me want to 
			retroactively lower my rating for <u>Snow Crash</u> just because I rated <u>Snow Crash</u> a perfect 5/5 but <u>The Diamond Age</u> is even better. <u>The Diamond Age</u> is much more sparse on the action than 
			<u>Snow Crash</u>, but the action sequences is does have do not disappoint.</p>
			
			<p>Without spoiling anything, I will attempt to layout the basic premise of the story. The story is set in the future (my guess would be maybe year 2100 or something like that), and nanotechnology is ubiquitous.
			 Pretty much every household has it's own Matter Compiler, which is basically a 3D printer that can make damn near anything, including food. A hotshot nanotech engineer is commissioned for a secret project to 
			 create a highly sophisticated interactive AI "book" for the purpose of educating girls better than the current education system. The prototype of the Primer, as it is called, ends up in the hands of a young poverty-stricken 
			 girl living in an abusive household, and the book pretty much raises her from that point on.</p>
			 
			 <p>That brief description barely scratches the surface. <u>The Diamond Age</u> is a great book. If you have any interest in Sci-fi, Cyber-punk, or artificial intelligence - this is a must read.</p>
			 
			 <p>The next book on my list is <a href="https://www.goodreads.com/book/show/34272565-life-3-0"><u>Life 3.0: Being Human in the Age of Artificial Intelligence.</u></a>. After two fiction books in a row, I figured I ought to go for some non-fiction this time.</p>
				

            <h2>Goals for next month (June 2018):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Work hard on EmojiPhoto app, and release it on the Play store</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>continue trend of weight loss</li>
            </ul>
			<h3>Music Goals:</h3>
            <ul>
                <li>null</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>just pay the minimum payment</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}