{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - April 2017</h1>
            <img class="img-responsive banner-img" src="{% static '/MayJune2017.png' %}" alt="May June 2017 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. This particular post is covering 2 months, because throughout the past two months I have been working frantically to get the new website, www.ianterry.me, up and running.</p>
            <h2>Broad Overview</h2>
            <p>May and June 2017 were the ninth and tenth months in which I have tracked my productivity. Most of my time over these past two months was spent working on the new website design and deployment. Here is the breakdown of how I spent my time in May:</p>
            <ul>
                <li>Fitness: <strong>53.75</strong> hours</li>
                <li>Software Development: <strong>59.25</strong> hours</li>
                <li>Other: <strong>7.00</strong> hours</li>
                <li>Total productive hours: <strong>120.0</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>3.87</strong> hours.</p>
			
			<p>And in June:</p>
			<ul> <!--TO DO -->
                <li>Fitness: <strong>51.5</strong> hours</li>
                <li>Software Development: <strong>40.5</strong> hours</li>
                <li>Other: <strong>4.25</strong> hours</li>
                <li>Total productive hours: <strong>96.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>3.87</strong> hours.</p><!--TO DO -->

            <p>Overall, I'd say I can't get too down on myself about the amount of work I've put in over the past two months. Yes, I could always put in more time, but at least I'm still doing something.
			Progress (in software development) was slow these past two months for sure, but that's ok. Sometimes it just takes time to grasp a hold of new concepts. </p>
            <h2>Software Development</h2>
            <p>In May of 2017, I spent <strong>59.25</strong> hours on software development. My goal for the month was to:</p>
			<ul>
			<li>Work diligently toward the goal of creating a website to replace BelowParallelStudios.com</li>
			</ul>
			<p>I was actually hoping to have the new site up and running by the end of the month, which I did not; but at least I can say that I succeeded in my goal. 
			I started my foray into web development by working through the first few sections of <a href="https://www.freecodecamp.org/">FreeCodeCamp.com</a>. This taught me the basics of html, CSS, and javascript. 
			To my surprise, the first project on FreeCodeCamp after completing the html and CSS lessons was to create a portfolio site. Perfect. I designed a portfolio site, 
			which you can see <a href="https://codepen.io/BelowParallelStudios/pen/qmxrBj">HERE</a>. Creating this particular site was good practice, but I decided to start over using asp.NET MVC. The reasons for this are:</p>
			<ol>
			<li>I wanted to make my website with a more minimalist design.</li>
			<li>I wanted to learn how to design web sites/applications with ASP.NET MVC.</li>
			</ol>
			<p>So the rest of the month of May 2017 was spent designing a new site in asp.NET MVC. I worked diligently at this until sometime in the first week of June
			 when I felt ianterry.me was ready to go online.</p>
			 <p>But wait! There was a problem. The host I had been using, Bluehost, uses Linux servers and is not capable of hosting sites made with the Windows framework.<p>
			 <p>Ultimately, I decided to remake my entire site using a framework that could be hosted on Linux servers. After some research (but not enough), I decided to remake 
			 my site using Django with Python.</p>
			 <p>After spending most of June learning Django and hacking my site together, I was finally ready to deploy. But, as I found out, there was a slight problem. Sites built
			 with Django can not just simply be hosted on Bluehost, even though it uses Linux servers. At this point, I began looking for a different hosting solution.</p>
			 <p>Being damn near totally lost with the whole concept of how to deploy my site, I ended up following <a href="https://tutorial.djangogirls.org/en/deploy/">THIS TUTORIAL</a>, which seems to be aimed at middle school girls.
			  Even though the website seems very non-inclusive for people like me (grown men), it seems to be the most thorough guide out there when it comes to deploying a Django
			   web site. Since the guide recommends PythonAnywhere.com for hosting, that is who I went with.</p>
			   <p>I am still surprised at how complicated a process it is to deploy a website. I mean, I just had no idea. While I did have to spend a lot more time than I wanted 
			   to get my site up and running, the good thing is that I learned some valuable lessons in the process:</p>
			   <ul>
			   <li>I learned a lot about how to use git. I mean not just using github, but actually using git in the command line. Very useful.</li>
			   <li>I learned a little bit about the differences in Windows and Linux. There is still much more to learn here, but it's good to have some base knowledge.</li>
			   <li>I learned a bit just about how deploying websites works in general and about how website actually exist on the web.</li>
			   </ul>
			   
<!--TO DO update hours-->
            <h1>Fitness</h1>
            <p>In May 2017, my overall fitness hours totalled to 53.75 hours. I spent 32.25 hours lifting weights, and I spent 18.5 hours running and cycling for cardio. 
			My average lifting hours per week was 7.96 hours, and my average cardio hours per week was 4.18 hours.</p>
			<p>First off, some major milestones I hit this May in the realm of cardio:</p>
			<ul>
			<li>Ran a mile in 6:30 (that’s six and a half minutes)</li>
			<li>Rode 52 miles on my bike in one ride (have done this multiple times now)</li>
			</ul>
			<p>Due in large part to a surprise family visit during Memorial Day weekend, I ended up eating terribly for a few days in a row which sort of put a damper on 
			my weight loss. Even so, I think the data shows a general (albeit slight) downward trend.</p>
			<p>First, we take a look at my body weight for each day of May 2017:</p>

            <img class="img-responsive banner-img" src="{% static '/charts_and_graphs/May2017_bodyweight_daily.png' %}" alt="May Body Weight Daily" />

            <p>Next, let’s take a look at my average weight for each week of the month:</p>

            <img class="img-responsive banner-img" src="{% static '/charts_and_graphs/May2017_bodyweight_weekly.png' %}" alt="May Body Weight Weekly" />
			
			<p>In June 2017, my overall fitness hours totalled to 51.5 hours. I spent 30.5 hours lifting weights, and I spent 21.0 hours running and cycling for cardio. 
			My average lifting hours per week was 7.12 hours, and my average cardio hours per week was 4.90 hours.</p>
			
			<p>Yet again, in June 2017, I made excuses to eat terribly at certain times. This time, my excuses were based on my girlfriend returning from a very long trip 
			overseas. To be clear, I don't feel very guilty about eating out too much on special occasions. While it does slow my weightloss progress, I'm still destined 
			for success as long as I stick to my system 90% of the time.</p>
			
			<p>Anyways, here is a chart of my weight for each day of June 2017:</p>
			
			<img class="img-responsive banner-img" src="{% static '/charts_and_graphs/June2017_bodyweight_daily.png' %}" alt="June Body Weight Daily" />

            <p>And here is my average weight for each week of the month:</p>

            <img class="img-responsive banner-img" src="{% static '/charts_and_graphs/June2017_bodyweight_weekly.png' %}" alt="June Body Weight Weekly" />
			
			<p>I can't say I lost a lot of weight, but at least I was able to maintain. Considering the multiple interruptions to my diet over the past couple months, I really 
can't be too hard on myself. Also, keep in mind that even 200 lbs is not overweight for me. I mean, I haven't been told that by a doctor, but if you saw me I think you'd agree.</p>

            <p>Now, here’s a chart plotting my weight on each and every day from March 1, 2017 to June 30, 2017:</p>

            <img class="img-responsive banner-img" src="{% static '/charts_and_graphs/4monthcombinedweightlossDAILY.png' %}" alt="Four month weight loss daily" />
			
			<p>And this shows my average weekly weight from March 1, 2017 to June 30, 2017:</p>
			
			<img class="img-responsive banner-img" src="{% static '/charts_and_graphs/4monthcombinedweightlossWEEKLY.png' %}" alt="Four month weight loss weekly" />
			
			<p>Now as far as lifting goes, in the month of May I hit a new deadlift pr with 385 lbs for 5 sets of 3 reps. Aside from that, my other lifts were mostly stagnant.</p>
			
			<p>In June, I started doing a new workout program. The program I've been doing is called N-Suns 5/3/1, and I am doing the 4-day version. The main reason for 
			 switching up my workout schedule is just that I wanted to spend less time in the gym. Simply put, I was missing out on sleep. I also wanted to have more time 
			 to focus on software development. So far, my review of the program is that it has been great for leg development, but not as great for bench. With that said, 
			 I personally changed the program a bit from what it is supposed to be so that it is less bench focused, so I can't really be upset. I will be sticking with N-Suns 
			 5/3/1 at least through the next month or two.</p>

            <h2>Other</h2>
            <p>In May, I spent <strong>7.00</strong> hours doing other productive stuff. In June, I spent <strong>4.25</strong> hours doing other productive stuff.</p>
			
            <h2>Student Loan Repayment</h2>

            <p>In the month of May 2017, I paid <span style="color: #339966;">$1350</span> toward my student loan debt. In the month of June 2017, I paid another <span style="color: #339966;">$1350</span> toward my student loan debt.
			
			<p>My current debt rests at <span style="color: #ff0000;">$23,765.80</span>. Since graduating in May of 2016, I have put <span style="color: #339966;">$20,050</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$17,927.12</span> of the original <span style="color: #ff0000;">$41,692.92</span> total. (For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>

            <h2>Goals for next month (July 2017):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Decide on a project to work on, and work hard on it.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Maintain strength on all lifts.</li>
				<li>Lose weight, even if only a small amount.</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $1000.</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}