{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - November 2016</h1>
            <img class="img-responsive banner-img" src="{% static '/Nov2016.png' %}" alt="November 2016 banner" />

            <p>Each Month, I plan to make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to.</p>
            <h2>Broad Overview</h2>
            <p>November is the third month that I’ve tracked my productive hours. My big project this month was to make a game for the Github Gameoff, which I did successfully. I did, however, take a full 6 days off to visit home for Thanksgiving. Here’s the official breakdown of hours:</p>
            <ul>
                <li>Fitness: 38.25 hours</li>
                <li>Game Development: 35 hours</li>
                <li>Business/Website: 7.5 hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was 2.69 hours.</p>
            <h2>Game Development</h2>
            <p>My overall game development goals for the month of November were as follows:</p>
            <ul>
                <li>Work on game development for at least 35 hours.</li>
            </ul>
            <ul>
                <li>Make a game for the GitHub Gameoff</li>
            </ul>
            

            <p>So how did I do? In the month of November 2016, I spent 35 hours on game development. And remember, that’s with taking a full 6 days off. I’m happy with that.</p>

            <p>Now, about the Github Gameoff – I did it. In one single month (actually more like 3 weeks), I created and released a functional, somewhat polished game. The game is called Mine Hacker, and you can download it <a href="https://github.com/BelowParallelStudios/game-off-2016/tree/Mine-Hacker">HERE</a>. Alternatively, you could play it online <a href="http://www.belowparallelstudios.com/MineHackerGame/index.html">HERE</a>, but for some reason the UI menus do not show up correctly in the online version.</p>

            <p>Here is a quick gameplay demonstration of Mine Hacker:</p>

            <iframe style="padding: 10px;" width="560" height="315" src="https://www.youtube.com/embed/EPro6hNN0Fo" frameborder="0" allowfullscreen></iframe>

            <p>The production of this game was an entirely solo process. I created all of the art and music and sound effects. As a guy with no musical background, I am particularly proud of the Mine Hacker theme song I composed. It can be heard in the gameplay video above. Here are a couple examples of the art assets I created:</p>

            <img class="img-responsive banner-img" src="{% static '/other/mainframe.png' %}" alt="mainframe" /> <img class="img-responsive banner-img" src="{% static '/Gifs/robotSprite.gif' %}" alt="robotsprite"  />

            

            <p>While I did learn a lot and gain a ton of valuable experience from developing Mine Hacker, one thing that bothers me is that it is still somewhat similar to my first game prototype, Swole Bros Save the Earth from Martian Invaders. The next game I create will not be similar to either.</p>

            <p>Originally I had planned to spend the month of December making a game for Ludum Dare. By now, however, I have realized that Ludum Dare is only a weekend long event (starting Dec 9), so I am less inclined to participate. In fact, I have decided to forgo game development entirely for the current month. Instead, I will be creating a program using C# and (probably) Windows Forms. Why am I doing this? Well, I have a few months of experience now dicking around with C# in Unity, but I still don’t know much about how to create a standard desktop application. Working on a project like this, I think, will be the most efficient way for me to become a better developer. As of the time of writing this post, I am still unsure exactly what type of program I will be creating, but I have some ideas.</p>

            <p>For next month, the “Game Development” section will be changed to “Software Development”.</p>
            <h2>Fitness</h2>
            <p>For the month of November 2016, the area where I spent the most productive hours (again) is in fitness, on which I spent 38.25 hours. 35.75 of those hours were spent lifting weights, and 2.5 of those hours were spent doing cardio. That’s an average of 8.93 fitness hours per week, with 8.34 average lifting hours per week and 0.58 average cardio hours per week.</p>

            <p>I am unable to accurately determine my average body weight for the month of November, since I did not record my weight for something like 10/30 days this month. With that said, I can confidently say that I gained 3-5 pounds.</p>

            <p>The lifts from November that I am most proud of are:</p>
            <ul>
                <li>Bench Press: 270 x 5 reps</li>
                <li>Rack pull: 470 x 5 reps</li>
                <li>Deficit Deadlift: 340 x 5 reps</li>
            </ul>
            <p>My fitness goal from last month was to keep my body weight below 210 lbs. Of course, I failed. I’m not really all that disappointed in myself though, since I didn’t actually expect to achieve this goal. Honestly, I should not have even set that goal for myself, because I never truly intended to make an attempt to achieve it.</p>

            <p>You may notice that my cardio hours are way down this month (from 9 to 2.5), and that is because it is now too cold for me to ride my bike now.</p>

            <p>For December, my goal will just be to buy some healthy groceries for myself when I visit home for Christmas. My dad never keeps anything but junk food in his house. This should keep me from gaining an additional 1 or 2 lbs.</p>

            <p>As far as lifting goes, I do think I have gained some muscle and strength. I have recently revamped my leg days, adding lunges, step ups, hamstring curls, and leg extensions. This is A LOT of extra volume on top of my old leg day setup, and I do believe I’ve already got some great results. We will see how this plays out through December.</p>
            <h2>Website/Marketing</h2>
            <p>In this past month, I spent 7.5 hours working on this website/marketing.</p>

            <p>These hours were spent working on this website and creating gifs and videos to share on Twitter.</p>

            <p>My business/website goals from last month were to:</p>
            <ul>
                <li>Gain at least two more followers on social media. Failure</li>
                <li>Tweet at least once every week. Done</li>
            </ul>
            <p>In the month of November, I made 9 tweets. I got a fair amount of likes and retweets, so I’m happy with that. However, I only gained 1 follower, which is one shy of my goal. For now, my goal will just be to continue to tweet at least once each week. This website and productivity tracking is really more for myself at this point than it is for others. I will worry more about marketing when I have a product to market.</p>
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put $1500 toward my debt. I met that goal exactly.

<p>In the month of November 2016, I paid $1,500 toward my student loan debt, which currently rests at a total of $30,985.15. Since graduating in May of 2016, I have put $12,250 toward my student loan debt. That means I have paid off $10,707.77 of the original $41,692.92 total. (For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>
            <h2>Goals for next month (October 2016):</h2>
            <p>Quick note: I will be taking an 11 day vacation at the end of the month, so I will try to set my goals with that in mind.</p>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Work on software development for at least 25 hours.</li>
                <li>Make decent progress toward the creation of some sort of software.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Buy my own groceries when I visit home for Christmas.</li>
            </ul>
            <h3>Business/Website Goals:</h3>
            <ul>
                <li>Tweet at least once every week.</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $1,250.</li>
            </ul>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}