{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - November 2018</h1>
            <img class="img-responsive banner-img" src="{% static '/November2018.png' %}" alt="November 2018 banner" />

            <p>This month's banner features my recent Thanksgiving feast.</p>
            <h2>Broad Overview</h2>
            <p>November 2018 is the 27th month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>3.75</strong> hours</li> 
                <li>Software Development: <strong>24.5</strong> hours</li>
				<li>Music/Art: <strong>0.5</strong> hours</li>
                <li>Other: <strong>0</strong> hours</li>
                <li>Total productive hours: <strong>28.75</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>0.96</strong> hours.</p>

			
            <h2>Software Development</h2>
            <p>My software development goal for the month of November 2018 was:</p>
            <ul>
				<li>Continue to work hard in my Data Structures and Algorithms class.</li>
			</ul>
				
			<p>Despite the fairly low amount of hours spent on software development this month, I can't say that I didn't work hard in my class. I managed to finish every assignment in the class 
			about 2 weeks early. All that is left to do now is the final exam.</p>
			
			<p>With all that said, I still feel I should have devoted more time to software dev this month. I could have been working on a side project in addition to my studies. Will I actually buckle
			 down and put in more hours next month? Tune in this coming January to find out!</p>
				
							       			
            <h2>Fitness</h2>
            <p>In November 2018, my overall fitness hours totalled to <strong>3.75</strong> hours. I spent <strong>2.75</strong> hours lifting weights, and I spent <strong>1</strong> hours running and cycling for
			cardio. My average lifting hours per week was <strong>0.64</strong> hours, and my average cardio hours per week was <strong>0.23</strong> hours.</p>
			
			<p>It's not good. What can I say? I need to get back into the habit of going to the gym every day. Throughout the past 10 years or so, I have gotten in and out of shape more times than I can count.
			 The past ~2 years has actually been my longest streak ever of staying in good shape. Ok, that was the positive spin I'm putting on this. Now for next month, my goal will be to increase my fitness 
			 hours to at least 18 hours.<p>

			<h2>Music/Art</h2>
			<p>I did dabble a bit this month, but I don't have anything to share.</p>	 
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>0</strong> hours doing other productive stuff. But you know what? That can't be right. I know I wrote a new blog entry at the beginning of 
			the month, and I must have forgotten to record my time. Well, whatever. We'll count it as 0 anyway.</p>
			 		
			<h2>Books</h2>		  
			 <p>null</p>
				
            <h2>Goals for next month (December 2018):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Complete final exam in Data Structures and Algorithms class.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
				<li>put in at least 18 hours of lifting and/or cardio.</li>
            </ul>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}