{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - November 2017</h1>
            <img class="img-responsive banner-img" src="{% static '/Nov2017.png' %}" alt="November 2017 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. This month's banner image features scenes from my latest creation, Balls and Halls.</p>
            <h2>Broad Overview</h2>
            <p>November 2017 is the fifteenth month in which I have tracked my productivity. I spent most of my time this month working on a game for Github's annual GameOff. I managed to create a pretty fun little game called
			Balls and Halls.</p>
            <ul>
                <li>Fitness: <strong>20.5</strong> hours</li> 
                <li>Software Development: <strong>47.25</strong> hours</li>
				<li>Music: <strong>1.5</strong> hours</li>
                <li>Other: <strong>7.5</strong> hours</li>
                <li>Total productive hours: <strong>75</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.50</strong> hours.</p>

            <p>Overall, it was an alright month productivity-wise. I managed to create a solid game for Github GameOff, and my total hours for the month are respectable.</p>
            <h2>Software Development</h2>
            <p>My software development goal for the month of November 2017 was to:</p>
            <ul>
                <li>Create a 3D game for Github Gameoff 2017.</li>
				
            </ul>
			
            <p>Consider that goal complete. My entry to the Github Gameoff 2017 is a retro-style fps and dodgeball simulator called Balls and Halls. This was my first time making a 3D game, so considering that I think
			 it turned out quite well. Check out the gameplay video below.</p>
			
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Srpa7EQiieM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			
			<p>If you want to play the game in your browser, you can do so <a href="https://i4n-t.itch.io/balls-and-halls">HERE</a>.</p>
			
			<p>Source code for the game can be found <a href="https://github.com/I4N-T/Balls-And-Halls">HERE</a>.</p>
			
			<p>Creating this game has sparked within me a new found interest in 3D game development. I am eager to experiment more in the future and put all that I've learned to good use.</p>
			
			<p>As it just so happens, this game jam ends just as Ludum Dare 40 is starting. That gives me exactly no time at all to rest. My goal for December is to create a game for Ludum Dare 40. Other than that, my general
			goal will be to find something else to work on for the rest of the year. I have no idea what that might be. I might just end up fiddling around in Unity for a couple weeks.</p>
			
			<p>In other news, I am now fully ready to begin working toward a Master's degree in computer science starting in January 2018.</p>
           
            <h2>Fitness</h2>
            <p>In November 2017, my overall fitness hours totalled to <strong>20.5</strong> hours. I spent <strong>16.5</strong> hours lifting weights, and I spent <strong>4</strong> hours running and cycling (on the machine) for
			cardio. My average lifting hours per week was <strong>3.85</strong> hours, and my average cardio hours per week was <strong>10.93</strong> hours.</p>
			
			<p>Despite the fairly low hours, I actually feel good about this month's fitness progress. I decided to take it easy for a while and forego running for the exercise bike until my lower back feels stronger. We 
			will see how next month goes.<p>
			
			<p>My only goal was to not get too fat over Thanksgiving. I would say I was successful in that. My weight did peak over 210 lbs for a couple of days, but overall I kept my weight about the same.</p>
			
			<p>I will have no specific goal for December 2018. I will continue with lifting and cardio, but I will probably continue to take it easy for a while.</p>
			
			<h2>Music</h2>
			<p>Since I was busy making Balls and Halls, I did not have much time for music this month. I did make a couple of songs for the game though, and I don't think they turned out half bad:</p>
			 
			 <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/363340268&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
			 
			 <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/363340292&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
			
            <h2>Other</h2>
            <p>In this past month, I spent <strong>8.00</strong> hours doing other productive stuff This month, that meant some video editing and writing this blog post.</p>
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put <span style="color: #339966;">$500</span> toward my debt. That is what I did.</p>

            <p>In the month of November 2017, I paid <span style="color: #339966;">$500</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$18,831.25</span>. Since graduating in May of 2016, I 
			have put <span style="color: #339966;">$25,300</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$22,861.67</span> of the original <span style="color: #ff0000;">$41,692.92</span> total. (
			For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>

            <h2>Goals for next month (December 2017):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Create a game for Ludum Dare 40.</li>
				<li>Do something software dev related.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>null</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $500.</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}