{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - October 2018</h1>
            <img class="img-responsive banner-img" src="{% static '/October2018.png' %}" alt="October 2018 banner" />

            <p>This month's banner features a UML diagram I made as part of an assignment in my Data Structures and Algorithms class.</p>
            <h2>Broad Overview</h2>
            <p>October 2018 is the 26th month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>1.5</strong> hours</li> 
                <li>Software Development: <strong>29.0</strong> hours</li>
				<li>Music/Art: <strong>0</strong> hours</li>
                <li>Other: <strong>0.25</strong> hours</li>
                <li>Total productive hours: <strong>30.75</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>0.99</strong> hours.</p>

			
            <h2>Software Development</h2>
            <p>My software development goal for the month of October 2018 was:</p>
            <ul>
				<li>Continue to work hard in my Data Structures and Algorithms class.</li>
			</ul>
				
			<p>So far, so good. I've managed to stay 2-3 weeks ahead of the course material at all times, and I'm learning some good stuff. There's not really much else to say about that. My total hours 
			are a little less than I'd like, so hopefully I can put in a little more time next month.</p>
				
							       			
            <h2>Fitness</h2>
            <p>In October 2018, my overall fitness hours totalled to <strong>1.5</strong> hours. I spent <strong>0</strong> hours lifting weights, and I spent <strong>1.5</strong> hours running and cycling for
			cardio. My average lifting hours per week was <strong>0</strong> hours, and my average cardio hours per week was <strong>.34</strong> hours.</p>
			
			<p>Ok, so obviously I devoted almost no time at all to fitness this month. So what's the deal? Well, my hope is that this extended break from strenuous exercise will allow my body to fully 
            recover. As you may know, I've had chronic lower back pain for over a year now, and I am desperate to get rid of it. It has been hard for me to neglect lifting and cardio, but it will all 
            be worth it if it cures my back pain. For the record, I did go on long walks fairly regularly throughout the month, but I did not record this time as productive hours.<p>
			 
			<p>Next month I will be back to lifting (light) weights. We'll see how it goes.</p> 
			  
			<h2>Music/Art</h2>
			<p>null</p>	 
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>0.25</strong> hours doing other productive stuff.</p>
			 		
			<h2>Books</h2>		  
			 <p>null</p>
				
            <h2>Goals for next month (October 2018):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Continue to work hard in my Data Structures and Algorithms class.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
				<li>Get back into the habit of regular lifting and cardio, but keep it easy for now.</li>
            </ul>
			
						<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_URL; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ianterry.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}