{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - October 2017</h1>
            <img class="img-responsive banner-img" src="{% static '/Octt2017.png' %}" alt="October 2017 banner" />

            <p>Each Month, I make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. This month's banner image features the Sun Pyramid in Tehotihuacan, Mexico.</p>
            <h2>Broad Overview</h2>
            <p>October 2017 is the fourteenth month in which I have tracked my productivity. My productivity level this month was not great, mostly due to a weeklong business trip and other interruptions. With that said, I have to better ignore interruptions in the future.
			My main focus for the month was continuing to work on my office management game, tentatively titled Widget CEO.</p>
            <ul>
                <li>Fitness: <strong>19.5</strong> hours</li> 
                <li>Software Development: <strong>22.5</strong> hours</li>
				<li>Music: <strong>8.25</strong> hours</li>
                <li>Other: <strong>6.00</strong> hours</li>
                <li>Total productive hours: <strong>56.25</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>1.81</strong> hours.</p>

            <p>My productivity level for the month of October 2017 was the lowest it has been in a while. I really need to buckle down for next month. Either way, I did make some progress this month.</p>
            <h2>Software Development</h2>
            <p>My software development goal for the month of October was to:</p>
            <ul>
                <li>Work hard on my new game concept, Widget CEO, and bring it to a close.</li>
				
            </ul>
            <p>Well, I did bring the game to a stopping point. It is certainly not something I would call a complete game yet, but I am proud of the work I have done so far. I really can't say whether or not I will work more on this project in the 
			future or not. For now, it is on hold indefinitely. Here is a video showing Widget CEO in it's current state:</p>
			
			<iframe width="560" height="315" src="https://www.youtube.com/embed/uLtvaaTpq3A" frameborder="0" allowfullscreen></iframe>
			
			<p>For November 2017, my goal is to create a game for the annual Github Gameoff. Last year I made a little game called Minehacker. It was my first successfully completed game, and I learned a lot developing it. When it was all said and done, 
			Github featured my game on their blog and gave me $50 store credit. </p>
			
			<p>This year, I plan to make my first 3D game. The theme is “Throwback”. As of now, I’m thinking of making a dodge ball game with Doom inspired graphics and gameplay mechanics. Get it? You “throw back” the balls at the other team, and Doom 
			is a retro “throwback”. If nothing else, this concept should net me some credit for theme adherence.</p>
			
			<p>My goal for November 2017 will be to create a 3D game for Github's Gameoff 2017.</p>
           
            <h2>Fitness</h2>
            <p>In October 2017, my overall fitness hours totalled to <strong>19.5</strong> hours. I spent <strong>14</strong> hours lifting weights, and I spent <strong>5.5</strong> hours running for cardio. My average lifting hours per week 
			was <strong>3.16</strong> hours, and my average cardio hours per week was <strong>1.24</strong> hours.</p>
			
			<p>It was not a great month for me fitness-wise. Overall, I pretty much definitely gained a couple pounds. I can knock the weight back off, but I don’t know if I will this next month. The reasons being: 1.) it is now too cold for
			cycling which reduces my cardio time, and 2.) Thanksgiving.<p>
			
			<p>I also have not gained any strength back. There is a nagging issue with my lower back. I can’t squat or dead lift to maximum capacity. Running seems to exacerbate the issue. I will try to find a solution that will allow me to heal. </p>
			
			<p>My goal for November will just be to not get too fat over Thanksgiving.<p>
			
			<h2>Music</h2>
			<p>I have continued to practice my musical composition skills every Tuesday and Friday. Here is what I have to show for my work this past month:</p>
			 
			 <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/350879722&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
			
            <h2>Other</h2>
            <p>In this past month, I spent <strong>6.00</strong> hours doing other productive stuff.</p>
            <h2>Student Loan Repayment</h2>
            <p>Last month, my goal was to put <span style="color: #339966;">$500</span> toward my debt. That is what I did.</p>

            <p>In the month of October 2017, I paid <span style="color: #339966;">$500</span> toward my student loan debt, which currently rests at a total of <span style="color: #ff0000;">$19,272.05</span>. Since graduating in May of 2016, I 
			have put <span style="color: #339966;">$24,800</span> toward my student loan debt. That means I have paid off <span style="color: #339966;">$22,420.87</span> of the original <span style="color: #ff0000;">$41,692.92</span> total. (
			For those wondering about how the numbers add up, keep in mind that some of the money I pay toward my debt goes to paying off interest).</p>

            <h2>Goals for next month (November 2017):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Create a 3D game for Github's Gameoff 2017.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Don't get too fat over Thanksgiving.</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $500.</li>
            </ul>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}