{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - October 2019</h1>
            <img class="img-responsive banner-img" src="{% static '/October2019.png' %}" alt="October 2019 banner" />

            <p>This month's banner features a hamburger from Little Bad Wolf.</p>
            <h2>Overview</h2>
            <p>October 2019 is the 38th month in which I have tracked my productivity.</p>
            <ul>
                <li>Fitness: <strong>34.25</strong> hours</li> 
                <li>Software Development: <strong>45.75</strong> hours</li>
				<li>Music/Art: <strong>0.00</strong> hours</li>
                <li>Other: <strong>2.00</strong> hours</li>
                <li>Total productive hours: <strong>82.00</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.65</strong> hours. I would say it was a solid month, productivitiy-wise, especially considering that I took 4 days completely off 
               due to a family visit.</p>

			
            <h2>Software Development</h2>
            <p>I spent the first 2.5 weeks of October (mostly) continuing to work through Nand2Tetris projects 6 and 7. After successfully completing project 7, I refocused my efforts on studying graphics programming with OpenGL
               through <a href="https://www.edx.org/course/computer-graphics">UCSD 167 available on edx</a>. Currently I am in the middle of the second homework assignment. Fyi, there are only 3 homework assignments, and all of them are rather large.</p>
						
			<p>Moving forward, I would love to complete Nand2Tetris, but ultimately I think completing a personal project will be more valuable. For that reason, my goal for November 2019 will be to finish hw assignment 2 of 
               UCSD 167 and begin working on a personal project. I’m leaning toward making something with c++ and OpenGL, but I am not 100% sure as of now. I like the idea of making some sort of 3d procedural world generator 
              (something like Minecraft) or maybe just a simple game. Github’s Gameoff takes place in November, so I may try to make something to submit for that; but I’m not making any guarantees. I do worry that a project like
              this won’t make as compelling a resume entry as something like an Android app, so I may make an app instead. This is the problem I always seem to face. There are so many things I want to learn, so many things I 
              want to build, and not near enough time to do it all. I guess I just gotta pick something and go with it. What else can I do?</p>
			
									       			
            <h2>Fitness</h2>
            <p>In October 2019, my overall fitness hours totalled to <strong>34.25</strong> hours. I spent <strong>18.75</strong> hours lifting weights, and I spent <strong>15.50</strong> hours on cardio. 
			 My average lifting hours per week was <strong>4.23</strong> hours, and my average cardio hours per week was <strong>3.550</strong> hours.</p>
			
			<p>It seems bicycle season may have come to an end, so a reduction in cardio hours is to be expected for the next few months. Also, I have recently begun to run 10 km (6.2 mi) every cardio day (unless I go riding) 
               as opposed to the roughly 4-5 miles I usually would run. This is nice because it should allow me to eat more through the winter without gaining too much weight.<p>	

            <p>As far as lifting goes, everything has been pretty solid as of late. I have not been missing any days, and my lifts are improving. I am still not close to where I was with my squat and deadlift prior to hurting my
               lower back, but that’s ok. I think I’m better off taking it sort of easy rather than risking exacerbating the injury. At least I’m doing something, and that’s better than nothing.</p>

			<h2>Music/Art</h2>
			<p>Nothing to see here.</p>

            <h2>Books</h2>
			<p>Near the end of the month I read <a href="https://www.goodreads.com/book/show/39204065-how-to-be-free?ac=1&from_search=true">The Enchiridion by Epictetus</a>. It is a very brief collection of passages detailing how 
               to attain freedom through adherence to the stoic philosophy. I would recommend this book to anyone. It is a very quick read, but dense with value. It is quite similar to <a href="https://www.goodreads.com/book/show/30659.Meditations?ac=1&from_search=true">Marcus Aurelius's Meditations</a>, which is another 
               book I highly recommend. The passages of the Enchiridion are written in a more imperative way than most philosophy texts. It is basically a handbook with instructions on how to live. </p>
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>2.00</strong> hours doing other productive stuff.</p>
				
            <h2>Goals for next month (November 2019):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
				<li>work on a personal project</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
				<li>Exercise hard. Don't skip workouts.</li>
            </ul>
			<h3>Other Goals:</h3>
            <ul>
				<li>null</li>
            </ul>
			
			
			<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_URL; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ianterry.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}