{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - September 2018</h1>
            <img class="img-responsive banner-img" src="{% static '/September2018.png' %}" alt="September 2018 banner" />

            <p>This month's banner features a close-up shot of a jar of homemade walnut-almond butter.</p>
            <h2>Broad Overview</h2>
            <p>September 2018 is the 25th month in which I have tracked my productivity. Overall, my productivity level for the month was about average.</p>
            <ul>
                <li>Fitness: <strong>26.25</strong> hours</li> 
                <li>Software Development: <strong>47.25</strong> hours</li>
				<li>Music/Art: <strong>0</strong> hours</li>
                <li>Other: <strong>2.25</strong> hours</li>
                <li>Total productive hours: <strong>75.75</strong> hours</li>
            </ul>
            <p>My average amount of productive hours per day (from all categories) was <strong>2.47</strong> hours.</p>

			
            <h2>Software Development</h2>
            <p>My software development goal for the month of September 2018 was:</p>
            <ul>
				<li>Work hard in my Data Structures and Algorithms class. Take the time to really learn this material.</li>
			</ul>
				
			<p>So far, I will call my efforts in this on-going goal a success. At the end of the month, I am just about 2 weeks ahead in the course materials/assignments. As of now, 
			I can already say that I've learned a lot from this class, and I look forward to working through the rest of the assignments.</p>
				
							       			
            <h2>Fitness</h2>
            <p>In September 2018, my overall fitness hours totalled to <strong>26.25</strong> hours. I spent <strong>14.00</strong> hours lifting weights, and I spent <strong>8.5</strong> hours running and cycling for
			cardio. My average lifting hours per week was <strong>3.27</strong> hours, and my average cardio hours per week was <strong>1.98</strong> hours. My stretching hours totalled 
			to <strong>3.75</strong> hours.</p>
			
			<p>You may notice that my fitness hours are way down from last month. Why? Well, in short, I am trying to recover. I've already been doing a sort of low-impact lifting routine for the past 
			couple of months to let my lower back recover; and lately, I've noticed my hamstrings are always super sore, so I've been taking it easy on cardio as well. I do wonder if my plant-based 
			diet is the reason my hamstrings are always so sore. I've been through periods of intense lifting and cardio before, and I don't remember having this problem.<p>
			 
			<p>Also, I must admit, I've been losing strength. This, I attribute to the diet with 99% confidence. I need to make an adjustment. For one, I'm going to eat tofu more often. If I remain 
			unable to gain/maintain adequate strength/musculature with this diet, then I will have to reconsider the whole thing. Ultimately, health is most important, but strength is important too.</p> 
			  
			<h2>Music/Art</h2>
			<p>null</p>	 
			 	
            <h2>Other</h2>
            <p>In this past month, I spent <strong>2.25</strong> hours doing other productive stuff.</p>
			 		
			<h2>Books</h2>		  
			 <p>This month I read <a href=https://www.goodreads.com/book/show/30474.The_Communist_Manifesto"><u>The Communist Manifesto</u></a> by Karl Marx and Friedrich Engels. I figured the 
			 book is short enough to read quickly, and it seems like an important topic to learn about. Unfortunately, <u>The Communist Manifesto</u> probably isn't the best book to read if you 
			 want to know all about communism. This book is more of a call-to-arms than anything else. The goal of the book seems more toward riling people up to fight than toward teaching about 
			 its main philosophy. For this reason, I cannot recommend the book.</p>
				
            <h2>Goals for next month (October 2018):</h2>
            <h3>Software Dev Goals:</h3>
            <ul>
                <li>Continue to work hard in my Data Structures and Algorithms class.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
				<li>null</li>
            </ul>
			
						<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_URL; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ianterry.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}