{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;" >
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Productivity Report - September 2016</h1>
            <img class="img-responsive banner-img" src="{% static 'personal/Sept2016.png' %}" alt="September 2016 banner" />

            <p>Each Month, I plan to make a post detailing what I’ve been working on, what I’ve accomplished, and just what I’ve been up to. The banner picture for this post was taken at Foster Beach in Chicago, IL, a common destination for me when I ride my bike.</p>
            <h2>Broad Overview</h2>
            <p>This month was the first in which I tracked my productive hours, and while I am happy with the results, I do think I can be more productive next month. The breakdown of my time spent outside of work looks like this:</p>
            <ul>
                <li>Total: 86.75 hours</li>
                <li>Fitness: 47.5 hours</li>
                <li>Game Development: 34.5 hours</li>
                <li>Business/Website: 4.75 hours</li>
            </ul>

            <p>My average amount of productive hours per day (from all categories) was 2.89 hours.</p>

            <p>By the way, tracking your productive hours like this is something that I really can’t recommend enough. Seeing those hours add up gives me a nice feeling of accomplishment. More importantly than that, it lets me easily see when and where I’ve been slacking off. I started this with no goals in mind for how much time I would spend being productive, and all things considered, the results do not disappoint.</p>
            <h2>Game Development</h2>
            <p>Game Dev is a new hobby for me, and one that I have really taken to. I first began messing around with Unity on July 3, 2016. So far, I have been using Unity with C#. I had little to no programming experience at all before taking on this hobby.</p>

            <p>In the month of September 2016, I spent 34.5 hours on game development, with an average of 7.56 hours per week. In that time, I have learned a tremendous amount. I am still a total beginner when it comes to creating games (and coding in general), but I definitely feel that I am making major improvements at a rapid pace.</p>

            <p>The game that I am working on currently is tentatively titled “Project Swole Bros.” My goal with this game was to produce the world’s first roguelike incremental bodybuilding simulator. Like many novice game developers, I now know that I had set my goals a bit too high. But that’s ok. I’ve learned more than I would have ever imagined I would in a very short amount of time, so there are no complaints here.</p>

            <p><strong>Here is a video showcasing the current build of Project Swole Bros.</strong></p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/hSinc0IPFQw" frameborder="0" allowfullscreen></iframe>

            <p><strong>You can find the code for my game on GitHub HERE.</strong></p>

            <a href="https://github.com/BelowParallelStudios/Project-Swole-Bros">https://github.com/BelowParallelStudios/Project-Swole-Bros</a>

            <p>As I was working on this game, I eventually learned just how real “feature creep” is. For those of you that don’t know, “feature creep” is what happens when a game developer constantly thinks of new features to implement into his game as he is working on it. This results in a game that never reaches a polished state. I don’t want to be a victim of feature creep. I want to release my first game, and I want to do it sooner rather than later.</p>

            <p>That is why I have decided on a limited few additional features to add to the current build before working on polishing and releasing. Here is a list of those features:</p>
            <ul>
                <li>Add purchasable items: Protein Shakes, Squats, Deadlift, Workout Bench</li>
                <li>Add one or two more abilities</li>
                <li>Implement usage of protein shake during battle</li>
                <li>Add one new enemy type</li>
                <li>Add graphics</li>
            </ul>
            <p>My goal is to have this game finished by December 1, 2016. This goal date is based on the fact that the next Ludum Dare starts in December, and I intend to participate.</p>
            <h2>Fitness</h2>
            <p>For the month of September 2016, the area where I spent the most productive hours (47.5 hours) is in fitness.  Of those hours, 36 were spent lifting weights, and 11.5 of those hours were spent doing cardio. That’s an average of 11.4 fitness hours per week, with 8.68 average lifting hours per week and 2.75 average cardio hours per week.</p>

            <p>My average body weight for the month was 210.4 lbs.</p>

            <p>Putting a lot of time toward fitness is nothing new to me, although I have been more focused than ever lately. I actually did not lift weights at all for about 18 months before starting back again in early January 2016. Since January, my best lifts in the big three are:</p>
            <ul>
                <li>Bench Press: 285 x 3 reps</li>
                <li>Squat: 275 x 5 reps</li>
                <li>Deadlift: 360 x 5 reps</li>
            </ul>
            <p>My strength certainly is not where I want it to be yet, but I do feel that I am still progressing (albeit slowly). My main goal for this month was to squat 275 for 5 sets of 5 reps, and I did accomplish that goal. By the way, when I squat – I go Below Parallel.</p>

            <p>Another fitness goal of mine this month was to get my bodyweight down to 205 lbs, which I did not accomplish. The failure here was mostly due to my habit of overeating. With that said, I think that I can accomplish this goal by the end of October 2016.</p>
            <h2>Business/Website</h2>
            <p>In this past month, I spent 4.75 hours working on this website/”business”. I say “business” because I hope that someday Below Parallel can be somewhat of an actual game studio that makes actual money. I know that is a bit far off into the future as of now, but it never hurts to dream, right?</p>

            <p>Most of these hours were spent working on writing this and other posts for this website.</p>
            <h2>Student Loan Repayment</h2>
            <p>In the month of September 2016, I paid $1,250 toward my student loan debt, which currently rests at a total of $34,788.24. Since graduating in May of 2016, I have paid off $8,250 of the original $41,692.92 total.</p>
            <h2>Goals for next month (October 2016):</h2>
            <h3>Game Dev Goals:</h3>
            <ul>
                <li>Work on game development for at least 35 hours.</li>
                <li>Make real progress toward my goal of completing and releasing Project Swole Bros.</li>
            </ul>
            <h3>Fitness Goals:</h3>
            <ul>
                <li>Get body weight down to 205 lbs.</li>
                <li>Do not lose any strength.</li>
            </ul>
            <h3>Business/Website Goals:</h3>
            <ul>
                <li>Gain at least one follower on social media.</li>
                <li>Get the Below Parallel website online.</li>
            </ul>
            <h3>Student Loan Repayment Goals:</h3>
            <ul>
                <li>Pay off at least $1,500.</li>
            </ul>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}