{% extends "personal/header.html" %}


{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: white;">
            <h1 class="text-center" style="margin-top: -10px; padding-bottom: 5px;">Six Month Productivity Report</h1>
            <img class="img-responsive banner-img text-center" src="{% static '/6Month_march17_aug17/Banner.png' %}" alt="Six Month Productivity Report #2 banner" />

            <p>A total of 12 months has now passed since I began tracking my productivity. Six months ago, I gave you <a href="http://www.ianterry.me/posts/SixMonthReport/">my first six month productivity report.</a>
			Today, I present to you a report detailing the last six months of productivity, from March 2017 through August 2017. I will also present some data concerning my productivity over the entire 12 month period
			 beginning September 2016 and ending August 2017.</p>
			 
            <h2>Total Productive Hours</h2>
			
            <p>Over the past six months, I have spent 652.75 hours being productive. That means that I was productive for 14.8% of that six month period. If you only count the times during that six months in which I was both awake and not at
			 work, then that percentage becomes 36.3%. That means that <strong>over the past six months, I have spent 36.3% of my free time being productive.</strong> Keep in mind that “being productive” here means specifically only time that I spent
			 exercising, learning/working on software development, learning/practicing music theory and composition, and working on this website. Time spent on “soft” productivity, such as running errands, cooking supper, cleaning the bathroom, etc,
			 is not counted as productive time.</p>
			 
            <br>
			
            <p>Here is a chart showing my total productive hours each month, from March 2017 through August 2017. My most productive month was April with 139.25 productive hours. During this six month period, I averaged
			104.5 productive hours per month.</p>

            &nbsp;

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/total_prod_hours_6.png' %}" alt="Total Productive Hours - past 6 months" width="480" height="289" />
			
			<p>Now compare that to the previous six month period, and you can see that, overall, I have been more productive.</p>
			
			<img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/total_prod_hours_12.png' %}" alt="Total Productive Hours - past 12 months" width="480" height="289" />
			
			<p><strong>Over the past year, I have spent 1122 hours being productive. That amounts to 32.8% of my free time.</strong></p>

            <p>Now let’s take a look at how the hours break down for each of our two main categories, Software Development and Fitness:</p>

            &nbsp;

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/total_dev_hours_6.png' %}" alt="Software Hours" width="487" height="289" />

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/total_fitness_hours_6.png' %}" alt="Fitness Hours" width="486" height="292" />

            <p>Now for fun, let's take a look at how my productivity in each of these categories trends over the past year:</p>
			
			<img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/total_dev_hours_12.png' %}" alt="Software Hours" width="487" height="289" />

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/total_fitness_hours_12.png' %}" alt="Fitness Hours" width="486" height="292" />
			
			<p>You can see that my fitness productivity started off very strong during this most recent six month period, but has fallen sharply due to my change in workout schedule. Also, you can clearly see how much
			 I let the weather influence the amount of cardio I do.</p>
			 
			 <p>My software development productivity over the most recent six month period is really something I can be proud of. My least productive month, July with 34.75 hours, would be about average had it occurred during
			  the last six month period. My most productive month, April with 80 hours, really stands out above the rest. In fact, you might have noticed that April was also my most productive month for fitness. I can tell you,
			   the reason for this is simply because I was feeling guilty about my lack of productivity over the previous couple of months (due mostly to vacation and visiting family). Unfortunately, I was missing out on a lot
			    of sleep, so I had to make the tough decision to cut back on my fitness hours near the end of June.</p>
			
            
            <h2>Productive Hours by Month</h2>
            <p>I also made some neat pie charts. There’s one for each month. Here they are:</p>

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/march_pie.png' %}" alt="March hours" width="488" height="289" />

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/april_pie.png' %}" alt="April hours" width="486" height="292" />

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/may_pie.png' %}" alt="May hours" width="488" height="293" />

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/june_pie.png' %}" alt="June hours" width="488" height="289" />

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/july_pie.png' %}" alt="July hours" width="488" height="293" />

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/august_pie.png' %}" alt="August hours" width="486" height="292" />

            &nbsp;

            <h2>Student Loan Debt Repayment</h2>
			
            <p>Along with tracking my productivity, I also have been tracking payments I put toward my student loan debt. When I graduated college in May 2016, I owed $41,692.92. For most of the past 12 months, paying off 
			the debt has been my main financial goal. I have since readjusted my financial strategy, so payments will likely be smaller from here on out.</p>
			
            <br>
            <p>Here is a chart showing how much debt I paid off each month:</p>

            <img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/student_loans_6.png' %}" alt="Student Loans" width="644" height="385" />

            <p>Over the past six months, I put $8,450.00 toward my student loan debt. Factoring in interest, I have taken my principal debt down by $7,571.58. I still have $20,151.31 left to pay off before I am debt free.</p>
			
			<p>Here is a chart of my student loan repayment over the past year:</p>
			
			<img class="img-responsive banner-img" src="{% static '/6Month_march17_aug17/student_loans_12.png' %}" alt="Student Loans" width="644" height="385" />
			
			<p>In a period of exactly one year, I managed to put $16,800 toward my student debt, effectively dropping the principal balance by $14,636.93. Not bad. From here on out, though, I will probably slow down on
			 the debt repayment as I refocus my financial priorities.</p>
			
            <h2>Summary</h2>
            <p>So there it is – a quick, visual recap of my productivity over the past six months (and over the past 12 months). From March 2017 through August 2017, I managed to be <strong>productive for 36.3% of my free time</strong>, amassing a total
			of <strong>652.75 productive hours</strong>. I also managed to <strong>pay off $7,571.58 of my student loan debt</strong>.</p>

			<p>If we consider the entire 12 month period beginning in September 2016 and ending in August 2017, <strong>the data shows that I spent a total of 1122 hours being productive. That was 32.8% of my free time.</p>
			
			<p>Check back each month for the monthly productivity reports to see how hard I've been working and what, specifically, I have been working on.</p>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}